<div>
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show menu-topo-esquerdo" *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN', 'ADMIN_PROVINCIAL','USUARIO_PROVINCIAL', 'PROG_PROJECTOS']">
        <a class="d-inline-block nvb-logo" style="width: 100%" href="javascript:void(0);" data-target="#sidebar" data-toggle="collapse">
            <div style="max-width: 95%; line-height: 1.4 !important;" >
                <img  class="img-responsive img-navbar-logo"  src="../../../content/images/logo_curto.png">
                <span class="texto-navbar-logo" style=" max-height: 12px">República de Angola</span>
                <span class="texto-navbar-logo" >Ministério da Energia e Águas</span>
            </div>
            <a class="app-sidebar__toggle" style="color: #163f66;" href="javascript:void(0);" data-target="#sidebar" data-toggle="collapse" aria-label="Hide Sidebar"></a>
        </a>
    </div>

    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar" *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN', 'ADMIN_PROVINCIAL','USUARIO_PROVINCIAL', 'PROG_PROJECTOS']">
        <!--<a class="d-inline-block nvb-logo" style="width: 100%">-->
            <!--<div style="max-width: 95%; line-height: 1.4 !important;" >-->
                <!--<img  class="img-responsive img-navbar-logo"  src="../../../content/images/logo_curto.png">-->
                <!--<span class="texto-navbar-logo" style=" max-height: 12px">República de Angola</span>-->
                <!--<span class="texto-navbar-logo" >Ministério da Energia e Águas</span>-->
            <!--</div>-->
            <a class="app-sidebar__toggle" href="javascript:void(0);" data-target="#sidebar" data-toggle="collapse" aria-label="Hide Sidebar"></a>
        <!--</a>-->

        <div class="list-group border-0 card text-center text-md-left">
            <a style=" margin-top: 5px; border-top-color: #183F66;"  href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="dashboard        " routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
                <i class="fa fa-bar-chart" style="size: 10px !important;"> </i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item1">Dashboard</span>
            </a>

            <a href="#menu3x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL','USUARIO_PROVINCIAL']">
                <i class="fa fa-archive" ngbTooltip="Inventário de Inquérito" title="Inventário de Inquérito"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item3.title">Módulo de Inventário/Inquéritos</span>
            </a>

            <div class="collapse" id="menu3x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="dashboard-estatistica" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-bar-chart" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem5">Dashboard</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua" routerLinkActive="active">
                    <i class="fa fa-tint" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem1">Sistema de Águas</span>
                </a>

                <a href="#menu-rela" style="background-color: #082e53; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu-rela" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fas fa-clipboard-list" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem6">Relatórios</span>
                </a>

                <div class="collapse" id="menu-rela" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#" style="background-color: #163f66;" class="list-group-item" data-parent="#menu7x" routerLink="dashboard-estatistica" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem18"></span>
                    </a>

                    <a href="#" style="background-color: #163f66;" class="list-group-item" data-parent="#menu7x" routerLink="inqueritos-preenchidos" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem1"></span>
                    </a>

                    <a href="#cobert-ser-agua" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#cobert-ser-agua" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-burn" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem7"></span>
                    </a>

                    <div class="collapse" id="cobert-ser-agua" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('sector-agua-provincial')" [class.ativo]="activeState === 'sector-agua-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sector-agua-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('sector-agua-municipal')" [class.ativo]="activeState === 'sector-agua-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sector-agua-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('sector-agua-comunal')" [class.ativo]="activeState === 'sector-agua-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sector-agua-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#func-agua-chaf" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#func-agua-chaf" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-burn" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem10"></span>
                    </a>

                    <div class="collapse" id="func-agua-chaf" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('func-agua-chafariz-provincial')" [class.ativo]="activeState === 'func-agua-chafariz-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-chafariz-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('func-agua-chafariz-municipal')" [class.ativo]="activeState === 'func-agua-chafariz-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-chafariz-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a  (click)="setStateAsActive('func-agua-chafariz-comunal')" [class.ativo]="activeState === 'func-agua-chafariz-comunal'"href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-chafariz-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#trat-sis-agua" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#trat-sis-agua" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem16"></span>
                    </a>

                    <div class="collapse" id="trat-sis-agua" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('trat-sist-agua-provincial')" [class.ativo]="activeState === 'trat-sist-agua-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="trat-sist-agua-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('trat-sist-agua-municipal')" [class.ativo]="activeState === 'trat-sist-agua-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="trat-sist-agua-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('trat-sist-agua-comunal')" [class.ativo]="activeState === 'trat-sist-agua-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="trat-sist-agua-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>


                    <a href="#func-sis-agua" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#func-sis-agua" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem9"></span>
                    </a>

                    <div class="collapse" id="func-sis-agua" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('func-agua-provincial')" [class.ativo]="activeState === 'func-agua-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('func-agua-municipal')" [class.ativo]="activeState === 'func-agua-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('func-agua-comunal')" [class.ativo]="activeState === 'func-agua-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="func-agua-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#bmb-energia" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#bmb-energia" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem3"></span>
                    </a>

                    <div class="collapse" id="bmb-energia" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('sist-agua-ft-subt-bmb-energia-comunal')" [class.ativo]="activeState === 'sist-agua-ft-subt-bmb-energia-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sist-agua-ft-subt-bmb-energia-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#bmb-manual" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#bmb-manual" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem2"></span>
                    </a>

                    <div class="collapse" id="bmb-manual" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('sistema-agua-ft-subte-manual-comunal')" [class.ativo]="activeState === 'sistema-agua-ft-subte-manual-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sistema-agua-ft-subte-manual-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#bmb-gravidade" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#bmb-gravidade" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem4"></span>
                    </a>

                    <div class="collapse" id="bmb-gravidade" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('sistema-agua-ft-subte-gravidade-comunal')" [class.ativo]="activeState === 'sistema-agua-ft-subte-gravidade-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sistema-agua-ft-subte-gravidade-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#bmb-opcao-tecnica" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#bmb-opcao-tecnica" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem5"></span>
                    </a>

                    <div class="collapse" id="bmb-opcao-tecnica" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('sistema-agua-ft-super-opcao-tecnica-comunal')" [class.ativo]="activeState === 'sistema-agua-ft-super-opcao-tecnica-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="sistema-agua-ft-super-opcao-tecnica-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#bmb-energia2" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#bmb-energia2" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem12"></span>
                    </a>

                    <div class="collapse" id="bmb-energia2" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('benef-ft-subte-energia-provincial')" [class.ativo]="activeState === 'benef-ft-subte-energia-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="benef-ft-subte-energia-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('benef-ft-subte-energia-comunal')" [class.ativo]="activeState === 'benef-ft-subte-energia-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="benef-ft-subte-energia-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#subt-bmb-mecanica" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#subt-bmb-mecanica" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem17"></span>
                    </a>

                    <div class="collapse" id="subt-bmb-mecanica" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('ben-ft-super-bmb-mecanica-municipal')" [class.ativo]="activeState === 'ben-ft-super-bmb-mecanica-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-ft-super-bmb-mecanica-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('ben-ft-super-bmb-mecanica-comunal')" [class.ativo]="activeState === 'ben-ft-super-bmb-mecanica-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-ft-super-bmb-mecanica-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#subt-tp-bmb" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#subt-tp-bmb" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem15"></span>
                    </a>

                    <div class="collapse" id="subt-tp-bmb" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('ben-agua-ft-subt-tp-bmb-man-municipal')" [class.ativo]="activeState === 'ben-agua-ft-subt-tp-bmb-man-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-agua-ft-subt-tp-bmb-man-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('ben-agua-ft-subt-tp-bmb-comunal')" [class.ativo]="activeState === 'ben-agua-ft-subt-tp-bmb-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-agua-ft-subt-tp-bmb-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#subt-tp-bmb-man" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#subt-tp-bmb-man" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem14"></span>
                    </a>

                    <div class="collapse" id="subt-tp-bmb-man" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('ben-agua-ft-subt-tp-bmb-man-provincial')" [class.ativo]="activeState === 'ben-agua-ft-subt-tp-bmb-man-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-agua-ft-subt-tp-bmb-man-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>

                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-agua-ft-subt-tp-bmb-man-municipal" routerLinkActive="active">-->
                            <!--<i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>-->
                            <!--<span class="d-md-inline">Municipal</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#subt-opt-tecnica" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#subt-opt-tecnica" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem11"></span>
                    </a>

                    <div class="collapse" id="subt-opt-tecnica" data-parent="#menu-rela" routerLinkActive="false">
                        <a (click)="setStateAsActive('ben-ft-super-opt-tecnica-provincial')" [class.ativo]="activeState === 'ben-ft-super-opt-tecnica-provincial'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-ft-super-opt-tecnica-provincial" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Provincial</span>
                        </a>
                        <a (click)="setStateAsActive('ben-ft-super-opt-tecnica-municipal')" [class.ativo]="activeState === 'ben-ft-super-opt-tecnica-municipal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-ft-super-opt-tecnica-municipal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Municipal</span>
                        </a>
                        <a (click)="setStateAsActive('ben-ft-super-opt-tecnica-comunal')" [class.ativo]="activeState === 'ben-ft-super-opt-tecnica-comunal'" href="#" class="list-group-item" data-parent="#menu7x" routerLink="ben-ft-super-opt-tecnica-comunal" routerLinkActive="active">
                            <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Comunal</span>
                        </a>
                    </div>

                    <a href="#" style="background-color: #163f66;" class="list-group-item" data-parent="#menu7x" routerLink="sistema-agua-export" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Filtrar Sistemas de Água</span>
                    </a>
                </div>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-arquivo" routerLinkActive="active">
                    <i class="fa fa-file" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem9">Inserir Por Arquivo</span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                    <!--<i class="fa fa-hashtag" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item3.subItem7">Tabelas e Gráficos</span>-->
                <!--</a>-->

                <a href="#menu7x" style="background-color: #082e53; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-burn" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem8">Mapas</span>
                </a>

                <div class="collapse" id="menu7x" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#nacionali" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *jhiHasAnyAuthority="['ROLE_ADMIN']" >
                        <i class="fas fa-burn" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Provincial</span>
                    </a>

                    <div class="collapse" id="nacionali" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água</span>
                            <span class="d-md-inline">(% Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água</span>
                            <span class="d-md-inline">(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#municipali" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse"
                       aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']" >
                        <i class="fas fa-burn" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Municipal</span>
                    </a>

                    <div class="collapse" id="municipali" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água   (% Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água   (% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#huamboi" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *ngIf="isMapaHuamboVisivel">
                        <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Huambo</span>
                    </a>

                    <div class="collapse" id="huamboi" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamenreto</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água (% Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água (% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#huliai" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *ngIf="isMapaHuilaVisivel">
                        <i class="fas fa-vector-square" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Huíla</span>
                    </a>

                    <div class="collapse" id="huliai" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água ( %Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água ( % Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#kuanzai" style="background-color: #163f66; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *ngIf="isMapaCuanzaVisivel">
                        <i class="fas fa-vector-square" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Cuanza Norte</span>
                    </a>

                    <div class="collapse" id="kuanzai" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água ( %Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água ( % Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>
                </div>


                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem2">Log Sistema de Águas</span>
                </a>
            </div>

            <a href="#menu8x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL','USUARIO_PROVINCIAL']">
                <i class="fa fa-compress" ngbTooltip="Inventário de Inquérito" title="Inventário de Inquérito"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item8.title">Módulo de Indicadores de producao</span>
            </a>

            <div class="collapse" id="menu8x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem1">Dashboard</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao" routerLinkActive="active">
                    <i class="fa fa-compress" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem2">Gerir Indicadores de Produção</span>
                </a>

                <a href="#menu-rela-ind" style="background-color: #082e53; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu-rela-ind" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fas fa-clipboard-list" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem6">Relatórios</span>
                </a>

                <div class="collapse" id="menu-rela-ind" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#" style="background-color: #163f66;" class="list-group-item" data-parent="#menu8x" routerLink="indicador-producao-export" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Filtrar Indicadores</span>
                    </a>
                </div>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-arquivo" routerLinkActive="active">
                    <i class="fa fa-file" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem5">Inserir Por Arquivo</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem4">Log Indicadores de Produção</span>
                </a>
            </div>

            <a href="#menu4x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_USER','ROLE_ADMIN', 'PROG_PROJECTOS']">
                <i class="fas fa-stream" ngbTooltip="Programas-Projectos" title="Programas-Projectos"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item4.title">Programas e Projectos</span>
            </a>

            <div class="collapse" id="menu4x" data-parent="#sidebar">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos" routerLinkActive="active">
                    <i class="fas fa-project-diagram" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem1">Programas e Projectos</span>
                </a>

                <a href="#menu-rela-prog" style="background-color: #082e53; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu-rela-prog" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fas fa-clipboard-list" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem6">Relatórios</span>
                </a>

                <div class="collapse" id="menu-rela-prog" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#" style="background-color: #163f66;" class="list-group-item" data-parent="#menu4x" routerLink="programas-projectos-export" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Filtrar Programas e Projectos</span>
                    </a>
                </div>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem2">Log Programas e Projectos</span>
                </a>
            </div>

            <a href="#menu5x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fab fa-leanpub" ngbTooltip="Publicações" title="Publicações"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item5.title">Gestao do portal</span>
            </a>

            <div class="collapse" id="menu5x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="banner" routerLinkActive="active">
                    <i class="fa fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem1">Banner</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="noticias-portal" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem2">Destaques</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="pdf" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem4">Início Publicacao PDF</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sobre-dna" routerLinkActive="active">
                    <i class="fa fa-bars" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem6">Sobre DNA</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="contactos" routerLinkActive="active">
                    <i class="fa fa-bars" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem7">Contactos</span>
                </a>
            </div>

            <a href="#menu1x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-cog" ngbTooltip="Configuração" title="Configuração"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item2.title">Configurações</span>
            </a>
            <div class="collapse" id="menu1x" data-parent="#sidebar" routerLinkActive="false">

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="epas" routerLinkActive="active">
                    <i class="fas fa-sitemap" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem8">EPAS</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="fornecedor" routerLinkActive="active">
                    <i class="fas fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem7">Fornecedores</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="provincia" routerLinkActive="active">
                    <i class="fa fa-university" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem4">Província</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="municipio" routerLinkActive="active">
                    <i class="fa fa-building-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem5">Município</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="comuna" routerLinkActive="active">
                    <i class="fa fa-home" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem6">Comuna</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="especialidades" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
                    <i class="fas fa-puzzle-piece" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem10">Especialidades</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="situacao" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-toggle-on" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem3">Tipo Situacao</span>
                </a>
            </div>

            <a href="#menu9x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-user-circle" ngbTooltip="Configuração" title="Configuração"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item9.title">Seguranca</span>
            </a>

            <div class="collapse" id="menu9x" data-parent="#sidebar" routerLinkActive="false">

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="authority" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
                    <i class="fa fa-toggle-on" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem1">Tipos Acesso</span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="authority" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">-->
                    <!--<i class="fa fa-address-card-o" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item9.subItem2">Perfil</span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="user-management" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
                    <i class="fas fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem3">Controle de Acesso</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="segurancas-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem4">Log Segurança</span>
                </a>

            </div>

        </div>
    </div>
</div>
