<div class="print">
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar" *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN']">
        <div class="list-group border-0 card text-center text-md-left">

            <br/><br/>
            <a style="margin-top: 10px;"  href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="dashboard" routerLinkActive="active">
                <i class="fa fa-line-chart" style="size: 10px !important;"> </i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item1">Dashboard</span>
            </a>

            <a href="#menu7x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i lass="fas fa-map-marked-alt" style="size: 10px !important;"></i>
                <span class="d-none d-md-inline">Mapas-Temáticos</span>
            </a>

            <div class="collapse" id="menu7x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="map" routerLinkActive="active">
                    <i class="fa fa-shower" style="size: 10px !important;"> </i>
                    <span class="d-md-inline">Cobertura de Servicos de Água</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="map2" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline">Cobertura de Servicos de Saneamento</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline">Funcionamento de Sistemas de Água</span>
                </a>
            </div>

            <a href="#menu3x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-archive" ngbTooltip="Inventário de Inquérito" title="Inventário de Inquérito"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item3.title">Inventário de Inquérito</span>
            </a>


            <div class="collapse" id="menu3x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua" routerLinkActive="active">
                    <i class="fa fa-shower" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem1">Sistema de Águas</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem2">Log Sistema de Águas</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem3">Indicador de Produção</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem4">Log Indicador de Produção</span>
                </a>
            </div>

            <a href="#menu4x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fa fa-address-book-o" ngbTooltip="Programas-Projectos" title="Programas-Projectos"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item4.title">Programas-Projectos</span>
            </a>

            <div class="collapse" id="menu4x" data-parent="#sidebar">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos" routerLinkActive="active">
                    <i class="fa fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem1">Programas e Projectos</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos-log" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem2">Log Programas e Projectos</span>
                </a>
            </div>


            <a href="#menu5x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-book-reader" ngbTooltip="Publicações" title="Publicações"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item5.title">Publicações</span>
            </a>

            <div class="collapse" id="menu5x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem1">Início Banner</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem2">Início Destaques</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem3">Início Últimas Notícias</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem4">Início Publicacao PDF</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-file-image-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem5">Sobre DNA Banner</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="tipo-espaco" routerLinkActive="active">
                    <i class="fa fa-bars" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem6">Sobre DNA</span>
                </a>
            </div>

            <a href="#menu6x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fa fa-bar-chart" ngbTooltip="Relatórios" title="Relatórios"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item6.title">Relatórios</span>
            </a>

            <div class="collapse" id="menu6x" data-parent="#sidebar" routerLinkActive="false">

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="inqueritos-preenchidos" routerLinkActive="active">
                    <i class="fa fa-wpforms" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem1"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-outdent" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem2"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-th" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem3"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-columns" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem4"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem5"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="sector-agua-saneamento" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem6"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="sector-agua" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem7"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem8"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="func-agua" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem9"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="func-agua-chafariz" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem10"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="ben-ft-super-opt-tecnica" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem11"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem12"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="benef-ft-subte-mecanica" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem13"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem14"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="benef-agua-subterranea-tp-bomba" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem15"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="tratamento-sistemas-agua" routerLinkActive="active">
                    <i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem16"></span>
                </a>
            </div>

            <a href="#menu1x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-users-cog" ngbTooltip="Configuração" title="Configuração"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item2.title">Configurações</span>
            </a>
            <div class="collapse" id="menu1x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="user-management" routerLinkActive="active">
                    <i class="fa fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem1">Controle de Acesso</span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="authority" routerLinkActive="active">-->
                    <!--<i class="fa fa-address-card-o" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item2.subItem2">Perfil</span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="situacao" routerLinkActive="active">
                    <i class="fa fa-exchange" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem3">Tipo Situacao</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="provincia" routerLinkActive="active">
                    <i class="fa fa-university" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem4">Província</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="municipio" routerLinkActive="active">
                    <i class="fa fa-building-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem5">Município</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="comuna" routerLinkActive="active">
                    <i class="fa fa-home" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem6">Comuna</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="fornecedor" routerLinkActive="active">
                    <i class="fa fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem7">Fornecedores</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="epas" routerLinkActive="active">
                    <i class="fa fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem8">Epas</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="finalidade-projeto" routerLinkActive="active">
                    <i class="fa fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem9">Finalidade do Projeto</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="especialidades" routerLinkActive="active">
                    <i class="fa fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem10">Especialidades</span>
                </a>
            </div>

        </div>
    </div>
</div>
