<div class="print">
    <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar" *jhiHasAnyAuthority="['ROLE_USER', 'ROLE_ADMIN', 'ROLE_ADMIN_LOCAL']">
        <div class="list-group border-0 card text-center text-md-left">

            <br/><br/>
            <a style="margin-top: 10px;"  href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="dashboard" routerLinkActive="active">
                <i class="fa fa-bar-chart" style="size: 10px !important;"> </i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item1">Dashboard</span>
            </a>

            <!--<a href="#menu7x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                <!--<i class="fas fa-globe-africa" style="size: 10px !important;"></i>-->
                <!--<span class="d-none d-md-inline">Mapas Temáticos</span>-->
            <!--</a>-->

            <a href="#menu3x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-archive" ngbTooltip="Inventário de Inquérito" title="Inventário de Inquérito"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item3.title">Módulo de Inventário/Inquéritos</span>
            </a>

            <div class="collapse" id="menu3x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem5">Dashboard</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua" routerLinkActive="active">
                    <i class="fa fa-tint" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem1">Sistema de Águas</span>
                </a>

                <a href="#menu-rela" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu-rela" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-burn" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem6">Relatórios</span>
                </a>

                <div class="collapse" id="menu-rela" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="benef-agua-subterranea-tp-bomba" routerLinkActive="active">
                        <i class="fas fa-burn" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Ft. Subterrânea e Bomba Energia</span>
                    </a>

                    <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="inqueritos-preenchidos" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem1"></span>
                    </a>

                    <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="sector-agua-provincial" routerLinkActive="active">
                        <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                        <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem7"></span>
                    </a>

                </div>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-arquivo" routerLinkActive="active">
                    <i class="fa fa-file" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem9">Inserir Por Arquivo</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem7">Tabelas e Gráficos</span>
                </a>

                <a href="#menu7x" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-burn" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem8">Mapas</span>
                </a>

                <div class="collapse" id="menu7x" data-parent="#sidebar" routerLinkActive="false">
                    <a href="#nacionali" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADM_HUAMBO', 'ADM_HUILA', 'ADM_CUANZA_NORTE']" >
                        <i class="fas fa-burn" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Provincial</span>
                    </a>

                    <div class="collapse" id="nacionali" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(%Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="nacional-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#municipali" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-burn" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Municipal</span>
                    </a>

                    <div class="collapse" id="municipali" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(%Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="municipal-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#huamboi" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADM_HUAMBO']">
                        <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                        <span class="d-md-inline">Huambo</span>
                    </a>

                    <div class="collapse" id="huamboi" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamenreto</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(%Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="huambo-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#huliai" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *jhiHasAnyAuthority="['ROLE_ADMIN','ADM_HUILA']">
                        <i class="fas fa-vector-square" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Huíla</span>
                    </a>

                    <div class="collapse" id="huliai" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(%Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="hulia-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>

                    <a href="#kuanzai" style="background-color: #2d596f; min-width: 100%" class="list-group-item d-inline-block collapsed" data-parent="#menu7x" data-toggle="collapse" aria-expanded="false"
                       *jhiHasAnyAuthority="['ROLE_ADMIN', 'ADM_CUANZA_NORTE']">
                        <i class="fas fa-vector-square" style="size: 10px !important"> </i>
                        <span class="d-md-inline">Cuanza Norte</span>
                    </a>

                    <div class="collapse" id="kuanzai" data-parent="#sidebar" routerLinkActive="false">
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte" routerLinkActive="active">
                            <i class="fas fa-burn" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Cobert. Serviços de Água</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento" routerLinkActive="active">-->
                        <!--<i class="fas fa-burn" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Cobert. Serviços de Saneamento</span>-->
                        <!--</a>-->
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-agua-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(%Funcionam)</span>
                        </a>
                        <a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-agua-nao-funcionam" routerLinkActive="active">
                            <i class="fas fa-vector-square" style="size: 10px !important;"> </i>
                            <span class="d-md-inline">Func. Sistemas Água(% Não Funcionam)</span>
                        </a>
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Funcionam)</span>-->
                        <!--</a>-->
                        <!--<a href="#" class="list-group-item" data-parent="#menu7x" routerLink="kuanza-norte-saneamento-nao-funcionam" routerLinkActive="active">-->
                        <!--<i class="fas fa-vector-square" style="size: 10px !important;"> </i>-->
                        <!--<span class="d-md-inline">Func. Sistemas Saneamento(%Não Funcionam)</span>-->
                        <!--</a>-->
                    </div>
                </div>


                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sistema-agua-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item3.subItem2">Log Sistema de Águas</span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao" routerLinkActive="active">-->
                    <!--<i class="fa fa-compress" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item3.subItem3">Indicador de Produção</span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao-log" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_ADMIN']">-->
                    <!--<i class="fa fa-address-card-o" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item3.subItem4">Log Indicador de Produção</span>-->
                <!--</a>-->
            </div>

            <a href="#menu8x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
                <i class="fa fa-compress" ngbTooltip="Inventário de Inquérito" title="Inventário de Inquérito"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item8.title">Módulo de Indicadores de producao</span>
            </a>

            <div class="collapse" id="menu8x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem1">Dashboard</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao" routerLinkActive="active">
                    <i class="fa fa-compress" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem2">Gerir Indicadores de Produção</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-producao-provincia" routerLinkActive="active">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem3">Relatórios</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="indicador-arquivo" routerLinkActive="active">
                    <i class="fa fa-file" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem5">Inserir Por Arquivo</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item8.subItem4">Log Indicadores de Produção</span>
                </a>
            </div>

            <a href="#menu5x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fab fa-leanpub" ngbTooltip="Publicações" title="Publicações"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item5.title">Publicações</span>
            </a>

            <div class="collapse" id="menu5x" data-parent="#sidebar" routerLinkActive="false">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="banner" routerLinkActive="active">
                    <i class="fa fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem1">Banner</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="noticias-portal" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem2">Destaques</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="pdf" routerLinkActive="active">
                    <i class="fa fa-th-large" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem4">Início Publicacao PDF</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="sobre-dna" routerLinkActive="active">
                    <i class="fa fa-bars" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem6">Sobre DNA</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="contactos" routerLinkActive="active">
                    <i class="fa fa-bars" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item5.subItem7">Contactos</span>
                </a>
                <!--<a href="#" class="list-group-item" data-parent="#menu1x" routerLink="contactos" routerLinkActive="active">-->
                    <!--<i class="fa fa-hashtag" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item5.subItem8">Rodape</span>-->
                <!--</a>-->
            </div>

            <a href="#menu4x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-stream" ngbTooltip="Programas-Projectos" title="Programas-Projectos"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item4.title">Programas e Projectos</span>
            </a>

            <div class="collapse" id="menu4x" data-parent="#sidebar">
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos" routerLinkActive="active">
                    <i class="fas fa-project-diagram" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem1">Programas e Projectos</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="programas-projectos-log" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item4.subItem2">Log Programas e Projectos</span>
                </a>
            </div>


            <!--<a href="#menu6x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">-->
                <!--<i class="fas fa-clipboard-list" ngbTooltip="Relatórios" title="Relatórios"></i>-->
                <!--<span class="d-none d-md-inline" jhiTranslate="sidebar.item6.title">Relatórios</span>-->
            <!--</a>-->

            <div class="collapse" id="menu6x" data-parent="#sidebar" routerLinkActive="false">

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-outdent" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem2"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-th" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem3"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-columns" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem4"></span>-->
                <!--</a>-->

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem5"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="sector-agua-saneamento" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem6"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="sector-agua" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem7"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem8"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="func-agua" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem9"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="func-agua-chafariz" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem10"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="ben-ft-super-opt-tecnica" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem11"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem12"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="benef-ft-subte-mecanica" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem13"></span>
                </a>

                <!--<a href="#" class="list-group-item" data-parent="#menu6x" routerLink="" routerLinkActive="active">-->
                    <!--<i class="fa fa-stack-exchange" style="size: 10px !important;"> </i>-->
                    <!--<span class="d-md-inline" jhiTranslate="sidebar.item6.subItem14"></span>-->
                <!--</a>-->

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="benef-agua-subterranea-tp-bomba" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem15"></span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu6x" routerLink="tratamento-sistemas-agua" routerLinkActive="active">
                    <i class="fa fa-dot-circle-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item6.subItem16"></span>
                </a>
            </div>

            <a href="#menu1x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-cog" ngbTooltip="Configuração" title="Configuração"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item2.title">Configurações</span>
            </a>
            <div class="collapse" id="menu1x" data-parent="#sidebar" routerLinkActive="false">

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="epas" routerLinkActive="active">
                    <i class="fas fa-sitemap" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem8">EPAS</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="fornecedor" routerLinkActive="active">
                    <i class="fas fa-truck" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem7">Fornecedores</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="provincia" routerLinkActive="active">
                    <i class="fa fa-university" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem4">Província</span>
                </a>
                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="municipio" routerLinkActive="active">
                    <i class="fa fa-building-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem5">Município</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="comuna" routerLinkActive="active">
                    <i class="fa fa-home" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem6">Comuna</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="especialidades" routerLinkActive="active">
                    <i class="fas fa-puzzle-piece" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem10">Especialidades</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="situacao" routerLinkActive="active">
                    <i class="fa fa-toggle-on" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item2.subItem3">Tipo Situacao</span>
                </a>
            </div>

            <a href="#menu9x"  class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <i class="fas fa-user-circle" ngbTooltip="Configuração" title="Configuração"></i>
                <span class="d-none d-md-inline" jhiTranslate="sidebar.item9.title">Seguranca</span>
            </a>

            <div class="collapse" id="menu9x" data-parent="#sidebar" routerLinkActive="false">

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-toggle-on" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem1">Tipos Acesso</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="authority" routerLinkActive="active">
                    <i class="fa fa-address-card-o" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem2">Perfil</span>
                </a>


                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="user-management" routerLinkActive="active">
                    <i class="fas fa-users" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem3">Controle de Acesso</span>
                </a>

                <a href="#" class="list-group-item" data-parent="#menu1x" routerLink="" routerLinkActive="active">
                    <i class="fa fa-hashtag" style="size: 10px !important;"> </i>
                    <span class="d-md-inline" jhiTranslate="sidebar.item9.subItem4">Log Segurança</span>
                </a>
            </div>

        </div>
    </div>
</div>
