    <jhi-alert></jhi-alert>
    <div>
        <div class="export-container">
            <button type="button" (click)="exportTable('tbprovin')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('provinc')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div id="provinc">
            <h2 class="text-centro">
                <span>Cobertura no Sector de Água (Nível Municipal)</span>
            </h2>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tbprovin" class="table table-striped">
                <thead>
                <tr class="borda-th" style="background-color: #1f749c">
                    <th class="borda-th"><span>Provincias</span></th>
                    <th class="borda-th"><span>Municipio</span></th>
                    <th class="borda-th"><span>N° Sistemas</span></th>
                    <th class="borda-th"><span>População Total</span></th>
                    <th class="borda-th"><span>Beneficiários(Hab)</span></th>
                    <th class="borda-th"><span>Cobertura (%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ">
                    <td class="text-centro">{{provincia.nomeProvincia}}</td>
                    <td class="text-centro">{{provincia.nomeMunicipio}}</td>
                    <td class="text-centro">{{provincia.numeroSistemasFuncionam}}</td>
                    <td class="text-centro">{{provincia.populacao | number }}</td>
                    <td class="text-centro">{{provincia.beneficiarios | number }}</td>
                    <td class="text-centro">{{provincia.coberturaPercent | number:'1.2-2'}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="borda-th" style="background-color: #1f749c">
                    <td colspan="2"> <span style="font-weight: bold">Total Municipal: </span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalPopulacao | number }} </span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{((totalBeneficiarios *100) / totalPopulacao) | number:'1.2-2'}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
    </div>

    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
