<div>
    <h2>
        <span style="margin-left: 5%" jhiTranslate="sisasApp.indicadorProducao.home.title">Indicador Producaos</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard']">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button class="btn btn-primary float-right jh-create-entity redondo" [routerLink]="['../indicador-producao-new' ]" >
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <br/>
    <jhi-alert></jhi-alert>
    <input type="text" class="form-control pesquisa" name="filtro" [(ngModel)]="nome" (ngModelChange)="onChangeNome()"
           placeholder="Buscar..." style="font-style:italic"/>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="indicadorProducaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="dtLancamento"><span jhiTranslate="sisasApp.indicadorProducao.dtLancamento">Dt Lancamento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="provincia"><span jhiTranslate="sisasApp.indicadorProducao.provincia">Província</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtUltimaAlteracao"><span jhiTranslate="sisasApp.indicadorProducao.dtUltimaAlteracao">Dt Ultima Alteracao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idSituacaoId"><span jhiTranslate="sisasApp.indicadorProducao.idSituacao">Id Situacao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let indicadorProducao of indicadorProducaos ;trackBy: trackId">
                <td>{{indicadorProducao.dtLancamento | date:'MM/yy'}}</td>
                <td>
                    <div *ngIf="indicadorProducao.provincia">
                        <a [routerLink]="['../provincia', indicadorProducao.provincia  ]" >{{indicadorProducao.provincia.nmProvincia}}</a>
                    </div>
                </td>
                <td>{{indicadorProducao.dtUltimaAlteracao | date:'dd/MM/yy'}}</td>
                <td>
                    <div *ngIf="indicadorProducao.situacao">
                        <a [routerLink]="['../situacao', indicadorProducao.situacao]" >{{indicadorProducao.situacao.nmSituacao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../indicador-producao', indicadorProducao.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../indicador-producao-edit', indicadorProducao.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'indicador-producao/'+ indicadorProducao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="indicadorProducaos && indicadorProducaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
