<div>
    <h2>
        <span style="margin-left: 5%" jhiTranslate="sisasApp.programasProjectosLog.home.title">Programas Projectos Logs</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard        ']">
            <span class="fa fa-chevron-left"></span>
        </button>
    </h2>
    <br/>
    <jhi-alert></jhi-alert>
    <input type="text" class="form-control pesquisa" name="filtro" [(ngModel)]="nome" (ngModelChange)="onChangeNome()"
           placeholder="Buscar..." style="font-style:italic"/>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="programasProjectosLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="acao"><span jhiTranslate="sisasApp.programasProjectosLog.acao">Ação</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idUsuario"><span jhiTranslate="sisasApp.programasProjectosLog.idUsuario">Id Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="log"><span jhiTranslate="sisasApp.programasProjectosLog.log">Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtLog"><span jhiTranslate="sisasApp.programasProjectosLog.dtLog">Dt Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idProgramasProjectosId"><span jhiTranslate="sisasApp.programasProjectosLog.idProgramasProjectos">Id Programas Projectos</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let programasProjectosLog of programasProjectosLogs ;trackBy: trackId">
                <td>{{programasProjectosLog.acao}}</td>
                <td>{{programasProjectosLog.usuario.nome}}</td>
                <td>{{programasProjectosLog.log}}</td>
                <td>{{programasProjectosLog.dtLog | date:'dd/MM/yy'}}</td>
                <td>
                    <div *ngIf="programasProjectosLog.programasProjectos">
                        <a [routerLink]="['../programas-projectos', programasProjectosLog.programasProjectos.id  ]" >{{programasProjectosLog.programasProjectos.nmDesignacaoProjeto}}</a>
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../programas-projectos-log', programasProjectosLog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="programasProjectosLogs && programasProjectosLogs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
