<div>
    <h2>
        <span jhiTranslate="sisasApp.contactos.home.title">Contactos</span>
        <button class="btn btn-primary float-right jh-create-entity create-contactos" [routerLink]="['/', { outlets: { popup: ['contactos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sisasApp.contactos.home.createLabel">
            Create new Contactos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contactos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idContactos"><span jhiTranslate="sisasApp.contactos.idContactos">Id Contactos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nmContactos"><span jhiTranslate="sisasApp.contactos.nmContactos">Nm Contactos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="textoContactos"><span jhiTranslate="sisasApp.contactos.textoContactos">Texto Contactos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resumoTextoContactos"><span jhiTranslate="sisasApp.contactos.resumoTextoContactos">Resumo Texto Contactos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtLancamento"><span jhiTranslate="sisasApp.contactos.dtLancamento">Dt Lancamento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtUltimaAlteracao"><span jhiTranslate="sisasApp.contactos.dtUltimaAlteracao">Dt Ultima Alteracao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idSituacaoId"><span jhiTranslate="sisasApp.contactos.idSituacao">Id Situacao</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactos of contactos ;trackBy: trackId">
                <td><a [routerLink]="['../contactos', contactos.id ]">{{contactos.id}}</a></td>
                <td>{{contactos.idContactos}}</td>
                <td>{{contactos.nmContactos}}</td>
                <td>{{contactos.textoContactos}}</td>
                <td>{{contactos.resumoTextoContactos}}</td>
                <td>{{contactos.dtLancamento | date:'mediumDate'}}</td>
                <td>{{contactos.dtUltimaAlteracao | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="contactos.situacao">
                        <a [routerLink]="['../situacao', contactos.situacao  ]" >{{contactos.situacao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contactos', contactos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contactos/'+ contactos.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contactos/'+ contactos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="contactos && contactos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
