<div class="card" style="width: 100% !important; padding-top: 0px">
    <div class="card">
        <div class="card-header">
            <h1 class="well" style="text-align: center" >
                <button class="btn btn-primary float-left jh-create-entity create-produto" (click)="esconderFiltros = !esconderFiltros">
                    <span class="fa fa-plus"> </span>
                    <span>{{esconderFiltros ? 'Adicionar' : 'Retirar' }} filtros</span>
                </button>

                <span>Cobertura de Servicos de Água e Saneamento</span>
            </h1>
        </div>
        <div class="card-body" [hidden]="esconderFiltros">
            <form class="form-horizontal">
                <div class="form-group row">
                    <select class="form-control" id="field_status" name="status" [(ngModel)]="status" style="width: 30%; margin-right: 10px">
                        <option [ngValue]="null">Ambos</option>
                        <option [ngValue]="true">Ativo</option>
                        <option [ngValue]="false">Inativo</option>
                    </select>

                    <select class="form-control" id="field_item" name="itemAssinatura" [(ngModel)]="revista" style="width: 30%">
                        <option [ngValue]="null">Todos</option>
                        <option [ngValue]="itemoOption.id" *ngFor="let itemoOption of itensAssinatura">{{itemoOption.nome}}</option>
                    </select>
                    <button class="btn btn-primary" (click)="pesquisar()" style="margin-left: 10px" ><i class="fa fa-search fa-fw"></i><span>Pesquisar</span></button>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="table-responsive" *ngIf="assinaturas" style="margin-top: 10px">
    <button class="btn btn-primary jh-create-entity create-produto"  *ngIf="assinaturas?.length > 1" (click)="exportAsExcel()" style="margin-left: 94%">
        <span>Excel</span>
    </button>
    <table #table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th><span>Ambito</span></th>
            <th><span>Populacao</span></th>
            <th><span>%</span></th>
            <th><span>N de Habitantes</span></th>
            <th><span>(%)</span></th>
            <th><span>N de Habitantes</span></th>
            <th><span>(%)</span></th>
        </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" >
        <tr *ngFor="let item of coberturas ">
            <td>
                {{item.ambito}}
            </td>
            <td>
                {{item.populacao}}
            </td>
            <td>
                {{item.popupacaoPorcentagem}}
            </td>

            <td>{{item.habitantesAgua}}</td>

            <td>{{item.habitantesAguaPercentagem}}</td>

            <td>{{item.habitantesSaneamento}}</td>

            <td>{{item.habitantesSaneamentoPercentagem}}</td>
        </tr>
        </tbody>
    </table>
</div>

<br/>

