<div>
    <h2>
        <span jhiTranslate="sisasApp.adjudicacao.home.title">Adjudicacaos</span>
        <button class="btn btn-primary float-right jh-create-entity create-adjudicacao" [routerLink]="['/', { outlets: { popup: ['adjudicacao-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sisasApp.adjudicacao.home.createLabel">
            Create new Adjudicacao
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adjudicacaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idAdjudicacao"><span jhiTranslate="sisasApp.adjudicacao.idAdjudicacao">Id Adjudicacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipoConcurso"><span jhiTranslate="sisasApp.adjudicacao.tipoConcurso">Tipo Concurso</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtLancamento"><span jhiTranslate="sisasApp.adjudicacao.dtLancamento">Dt Lancamento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtComunicaoAdjudicacao"><span jhiTranslate="sisasApp.adjudicacao.dtComunicaoAdjudicacao">Dt Comunicao Adjudicacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtPrestacaoGarantBoaExec"><span jhiTranslate="sisasApp.adjudicacao.dtPrestacaoGarantBoaExec">Dt Prestacao Garant Boa Exec</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtSubmissaoMinutContrato"><span jhiTranslate="sisasApp.adjudicacao.dtSubmissaoMinutContrato">Dt Submissao Minut Contrato</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idProgramasProjectosId"><span jhiTranslate="sisasApp.adjudicacao.idProgramasProjectos">Id Programas Projectos</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idSistemaAguaId"><span jhiTranslate="sisasApp.adjudicacao.idSistemaAgua">Id Sistema Agua</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adjudicacao of adjudicacaos ;trackBy: trackId">
                <td><a [routerLink]="['../adjudicacao', adjudicacao.id ]">{{adjudicacao.id}}</a></td>
                <td>{{adjudicacao.idAdjudicacao}}</td>
                <td>{{adjudicacao.tipoConcurso}}</td>
                <td>{{adjudicacao.dtLancamento | date:'mediumDate'}}</td>
                <td>{{adjudicacao.dtComunicaoAdjudicacao | date:'mediumDate'}}</td>
                <td>{{adjudicacao.dtPrestacaoGarantBoaExec | date:'mediumDate'}}</td>
                <td>{{adjudicacao.dtSubmissaoMinutContrato | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="adjudicacao.idProgramasProjectosId">
                        <a [routerLink]="['../programas-projectos', adjudicacao.idProgramasProjectosId  ]" >{{adjudicacao.idProgramasProjectosId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="adjudicacao.idSistemaAguaId">
                        <a [routerLink]="['../sistema-agua', adjudicacao.idSistemaAguaId  ]" >{{adjudicacao.idSistemaAguaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../adjudicacao', adjudicacao.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adjudicacao/'+ adjudicacao.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'adjudicacao/'+ adjudicacao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="adjudicacaos && adjudicacaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
