<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <jhi-alert></jhi-alert>

    <div>
        <div class="export-container">
            <button type="button" (click)="exportTable('tbcomu')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('comunal')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div id="comunal">
            <h2 class="text-centro" style="margin-left: 2%; font-size: 1.4rem;">
                <span>Beneficiários de Água por Fonte Superficial e por Opcão Técnica (Nível Comunal)</span>
            </h2>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tbcomu" class="table table-striped">
                <thead>
                <tr  class="borda-th" style="background-color: #1f749c">
                    <th class="borda-th" colspan="5"></th>
                    <th class="borda-th" colspan="3"><span style="margin-left: 30%">Electrica</span></th>
                    <th class="borda-th" colspan="3"><span style="margin-left: 30%">Diesel</span></th>
                    <th class="borda-th"colspan="3"><span style="margin-left: 30%">Gravidade</span></th>
                </tr>
                <tr class="borda-th" style="background-color: #1f749c">
                    <th class="borda-th"><span>Província</span></th>
                    <th class="borda-th"><span>Municipios</span></th>
                    <th class="borda-th"><span>Comuna</span></th>
                    <th style="max-width: 160px;" class="borda-th"><span>Fonte de Agua(Rio,Lagoa,Vetente,Nascente,etc.)</span></th>
                    <th class="borda-th"><span>População</span></th>
                    <th class="borda-th"><span>N°.Sist.</span></th>
                    <th class="borda-th"><span>Pop.Benef.</span></th>
                    <th class="borda-th"><span>(%)</span></th>
                    <th class="borda-th"><span>N°.Sist.</span></th>
                    <th class="borda-th"><span>Pop.Benef.</span></th>
                    <th class="borda-th"><span>(%)</span></th>
                    <th class="borda-th"><span>N°.Sist.</span></th>
                    <th class="borda-th"><span>Pop.Benef.</span></th>
                    <th class="borda-th"><span>(%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td class="text-centro">{{provincia.nomeProvincia}}</td>
                    <td class="text-centro">{{provincia.nomeMunicipio}}</td>
                    <td class="text-centro">{{provincia.nomeComuna}}</td>
                    <td class="text-centro">{{provincia.fonteAgua}}</td>
                    <td class="text-centro">{{provincia.populacao | number}}</td>
                    <td class="text-centro">{{provincia.electricaSistemas}}</td>
                    <td class="text-centro">{{provincia.electricaPopulacao}}</td>
                    <td class="text-centro">{{provincia.electricaPerc}}</td>
                    <td class="text-centro">{{provincia.dieselSistemas}}</td>
                    <td class="text-centro">{{provincia.dieselPopulacao}}</td>
                    <td class="text-centro">{{provincia.dieselPerc}}</td>
                    <td class="text-centro">{{provincia.gravidadeSistemas}}</td>
                    <td class="text-centro">{{provincia.gravidadePopulacao}}</td>
                    <td class="text-centro">{{provincia.gravidadePerc}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="borda-th" style="background-color: #1f749c">
                    <td colspan="4"> <span style="font-weight: bold">Total Comunal: </span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalPopulacao | number }}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalElectraSistemas | number }}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalElectraPopulacao | number}}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{((totalElectraPopulacao *100) / totalPopulacao) | number:'1.2-2'}}%</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalDieselSistemas | number }}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalDieselPopulacao | number}}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{((totalDieselPopulacao *100) / totalPopulacao) | number:'1.2-2'}}%</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalGravidadeSistemas | number }}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{totalGravidadePopulacao | number}}</span></td>
                    <td class="text-centro"> <span style="font-weight: bold">{{((totalGravidadePopulacao *100) / totalPopulacao) | number:'1.2-2'}}%</span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
