<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<jhi-alert></jhi-alert>
<div *jhiHasAnyAuthority="['ROLE_ADMIN']">
    <div class="table-responsive" *ngIf="listaTabela">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Âmbito</span></th>
                <th><span>População</span></th>
                <th><span>%</span></th>
                <th><span>Nº de Habitantes</span></th>
                <th><span>%</span></th>
                <th><span>Nº de Habitantes</span></th>
                <th><span>%</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                <td>{{provincia.ambito}}</td>
                <td>{{provincia.populacao | number }}</td>
                <td>{{provincia.populacaoPercentage}}%</td>
                <td>{{provincia.habitantes | number }}</td>
                <td>{{provincia.habitantesPercent}}%</td>
                <td>{{provincia.habitantesSaneamento  | number }}</td>
                <td>{{provincia.habitantesSaneamentoPer}}%</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6 teste-acima">
            <div class="card card-dash">
                <div id="chartContainer" style="height: 370px; width: 98%; margin-left: 3%"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-dash">
                <div id="chartContainerSan" style="height: 370px; width: 98%; margin-left: 3%"></div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-dash">
                <div id="chartAguaSaneamento" style="height: 370px; width: 98%; margin-left: 3%"></div>
            </div>
        </div>
    </div>
</div>


<div *jhiHasAnyAuthority="['ROLE_ADMIN_LOCAL']">
    <div class="table-responsive" *ngIf="listaTabela">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Províncias</span></th>
                <th><span>N° de Municípios</span></th>
                <th><span>N° de Comunas</span></th>
                <th><span>População Total</span></th>
                <th><span>Água</span></th>
                <th><span>Saneamento</span></th>
                <th><span>Águas%</span></th>
                <th><span>Saneamento%</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                <td>{{provincia.provincia}}</td>
                <td>{{provincia.municipios | number }}</td>
                <td>{{provincia.comunas}}%</td>
                <td>{{provincia.populacaoTotal | number }}</td>
                <td>{{provincia.populacaoBeneficiadaAgua}}%</td>
                <td>{{provincia.populacaoBeneficiadaSaneamento  | number }}</td>
                <td>{{provincia.coberturaAgua}}%</td>
                <td>{{provincia.coberturaSaneamento}}%</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td> <span style="font-weight: bold">Total Provincial: </span></td>
                <td> <span style="font-weight: bold">{{totalMunicipios}} </span></td>
                <td> <span style="font-weight: bold">{{totalComunas}} </span></td>
                <td> <span style="font-weight: bold">{{totalPopulacao}} </span></td>
                <td> <span style="font-weight: bold">{{totalBenefAgua | number }} </span></td>
                <td> <span style="font-weight: bold">{{totalBenefSaneamento | number }} </span></td>
                <td> <span style="font-weight: bold">{{totalCobertAgua}} </span></td>
                <td> <span style="font-weight: bold">{{totalCobertSaneamento}} </span></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <br/>
    <div id="chartProvincial" style="height: 400px; width: 97%; margin-left: 3%"></div>
</div>
