<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<h2>
    <span class="fa fa-bar-chart" style="margin-left: 5%"></span><span style="margin-left: 1%">Dashboard</span>
</h2>
<br/>
<jhi-alert></jhi-alert>

<div>
    <div class="table-responsive" *ngIf="listaTabela">
        <table class="table table-striped">
            <thead>
            <tr style="text-align: center; background-color: #1f749c" >
                <th class="borda-th" colspan="6"><span>Nº Sistamas de Água</span></th>
            </tr>
            <tr style="background-color: #1f749c">
                <th class="borda-th" ></th>
                <th class="borda-th"></th>
                <th class="borda-th" colspan="2"><span style="margin-left: 30%">A Funcionar</span></th>
                <th class="borda-th" colspan="2"><span style="margin-left: 30%">A Não Funcionar</span></th>
            </tr>
            <tr class="borda-th">
                <th class="borda-th"><span>Províncias</span></th>
                <th class="borda-th"><span>Unidades</span></th>
                <th class="borda-th"><span>Unidades</span></th>
                <th class="borda-th"><span>(%)</span></th>
                <th class="borda-th"><span>Unidades</span></th>
                <th class="borda-th"><span>(%)</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let provincia of listaTabela" class="borda-th">
                <td>{{provincia.nomeProvincia}}</td>
                <td>{{provincia.numeroSistemas | number }}</td>
                <td>{{provincia.numeroSistemasFuncionam}}</td>
                <td>{{provincia.sistemasFuncionamPerc | number:'1.2-2' }}%</td>
                <td>{{provincia.numeroSistemasNaoFuncionam}}</td>
                <td>{{provincia.sistemasNaoFuncionamPerc  | number:'1.2-2' }}%</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="borda-th" style="background-color: #1f749c; border-top: 2px solid #dee2e6; border-bottom: 2px solid #dee2e6">
                <td> <span style="font-weight: bold">Total: </span></td>
                <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                <td> <span style="font-weight: bold">{{totalFuncionam}} </span></td>
                <td> <span style="font-weight: bold">{{((totalFuncionam *100) / totalSistemas) | number:'1.2-2'}}% </span></td>
                <td> <span style="font-weight: bold">{{totalNaoFuncionam}} </span></td>
                <td> <span style="font-weight: bold">{{((totalNaoFuncionam *100) / totalSistemas) | number:'1.2-2'}}% </span></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
