
<div *ngIf="fases">
    <h2><span jhiTranslate="sisasApp.fases.detail.title">Fases</span> {{fases.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.fases.idFase">Id Fase</span></dt>
        <dd>
            <span>{{fases.idFase}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.fases.descricaoFase">Descricao Fase</span></dt>
        <dd>
            <span>{{fases.descricaoFase}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fases/'+ fases.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
