<div>
    <h2>
        <span style="margin-left: 25%" jhiTranslate="sisasApp.sistemaAgua.home.title">Sistema Aguas</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard        ']">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button class="btn btn-primary jh-create-entity create-produto" (click)="mostrarFiltros()" style="float: left; margin-left: 1%;">
            <span class="fa fa-plus"> </span>
            <span>{{esconderFiltros ? 'Adicionar' : 'Retirar' }} filtros</span>
        </button>
        <button class="btn btn-primary float-right jh-create-entity redondo"
                [routerLink]="['../sistema-agua-new' ]"  >
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <div class="card-body" [hidden]="esconderFiltros">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="input-group" style="max-width: 97%; margin-bottom: 1%">
                    <input type="text" class="form-control" name="filtro" [(ngModel)]="nome" placeholder="Digite o Nome do Sistema, Fonte de Água, Localidade ou Tipo Área..." style="font-style:italic"/>
                    <span class="input-group-btn">
                            <button class="btn btn-search" type="button" (click)="onChangeNome()" ><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>

                <div class="input-group" style="max-width: 97%; margin-bottom: 1%">
                    <select class="form-control" id="field_idProvincia" name="provincia" [(ngModel)]="sistemaAgua.provincia" (ngModelChange)="onChangeMunicipios()">
                        <option [ngValue]="null" selected>Selecione a Província..</option>
                        <option [ngValue]="provinciaOption.id === sistemaAgua.provincia?.id ? sistemaAgua.provincia : provinciaOption"
                                *ngFor="let provinciaOption of provincias">{{provinciaOption.nmProvincia}}</option>
                    </select>
                    <span class="input-group-btn">
                            <button class="btn btn-search" type="button" (click)="buscaPorProvincia()" ><i class="fa fa-search fa-fw"></i></button>
                    </span>
                    <select class="form-control" id="field_idMunicipio" name="municipio" [(ngModel)]="sistemaAgua.municipio" (ngModelChange)="onChangeComunas()">
                        <option [ngValue]="null" selected>Selecione o Município..</option>
                        <option [ngValue]="municipioOption.id === sistemaAgua.municipio?.id ? sistemaAgua.municipio : municipioOption"
                                *ngFor="let municipioOption of municipios">{{municipioOption.nmMunicipio}}</option>
                    </select>
                    <span class="input-group-btn">
                            <button class="btn btn-search" type="button" (click)="buscaPorMunicipio()" ><i class="fa fa-search fa-fw"></i></button>
                    </span>

                    <select class="form-control" id="field_idComuna" name="comuna" [(ngModel)]="sistemaAgua.comuna">
                        <option [ngValue]="null" selected>Selecione a Comuna...</option>
                        <option [ngValue]="comunaOption.id === sistemaAgua.comuna?.id ? sistemaAgua.comuna :comunaOption "
                                *ngFor="let comunaOption of comunas">{{comunaOption.nmComuna}}</option>
                    </select>
                    <span class="input-group-btn">
                            <button class="btn btn-search" type="button" (click)="buscaPorComuna()" ><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>

                <div class="input-group" style="max-width: 97%; margin-bottom: 1%">
                    <label class="form-control-label" style="margin-right: 1%">Período:</label>
                    <input type="date" class="form-control" name="filtro" [(ngModel)]="dataInicialBusca" (ngModelChange)="onChangeNome()"
                           placeholder="Periodo Inicial dd/mm/yyyy" style="margin-right: 5%;"/>
                    <input type="date" class="form-control" name="filtro" [(ngModel)]="dataFinalBusca" (ngModelChange)="onChangeNome()"
                           placeholder="Periodo Final dd/mm/yyyy" />
                    <span class="input-group-btn">
                            <button class="btn btn-search" type="button" (click)="buscaPorPeriodo()" ><i class="fa fa-search fa-fw"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <jhi-alert></jhi-alert>
    <div class="export-container">
        <h2 class="text-centro">
            <button type="button" (click)="exportTable('tbmuni')" class="btn btn-primary btn-sm excel">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('tbmuni')" class="btn btn-primary btn-sm bt-pdf">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </h2>
    </div>
    <br/>
    <div class="card" style="margin-top: 2%">
        <div class="table-responsive" *ngIf="sistemaAguas">
            <table id="tbmuni" class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="nmSistemaAgua"><span>Sistema</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="idProvincia"><span jhiTranslate="sisasApp.sistemaAgua.idProvincia">Id Provincia</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="idMunicipio"><span jhiTranslate="sisasApp.sistemaAgua.idMunicipio">Id Municipio</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="idComunaId"><span jhiTranslate="sisasApp.sistemaAgua.idComuna">Id Comuna</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="nmLocalidade"><span jhiTranslate="sisasApp.sistemaAgua.nmLocalidade">Nm Localidade</span>
                        <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="possuiSistemaAgua"><span jhiTranslate="sisasApp.sistemaAgua.possuiSistemaAgua">Possui sistema de água</span> <span
                        class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sistemaAgua of sistemaAguas ;trackBy: trackId">
                    <td>{{sistemaAgua.nmSistemaAgua}}</td>
                    <td>
                        <div *ngIf="sistemaAgua.provincia">
                            <a [routerLink]="['../provincia', sistemaAgua.provincia  ]">{{sistemaAgua.provincia.nmProvincia}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sistemaAgua.municipio">
                            <a [routerLink]="['../municipio', sistemaAgua.municipio  ]">{{sistemaAgua.municipio.nmMunicipio}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sistemaAgua.comuna">
                            <a [routerLink]="['../comuna', sistemaAgua.comuna  ]">{{sistemaAgua.comuna.nmComuna}}</a>
                        </div>
                    </td>
                    <td>{{sistemaAgua.nmLocalidade}}</td>
                    <td *ngIf="sistemaAgua.possuiSistemaAgua">Sim</td>
                    <td *ngIf="!sistemaAgua.possuiSistemaAgua">Não</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../sistema-agua', sistemaAgua.id ]"
                                    class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                            </button>
                            <button type="submit"
                                    [routerLink]="['../sistema-agua/'+ sistemaAgua.id + '/edit']"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'sistema-agua/'+ sistemaAgua.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="sistemaAguas != null && sistemaAguas.length > 1">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
