
<div *ngIf="origemFinanciamento">
    <h2><span jhiTranslate="sisasApp.origemFinanciamento.detail.title">Origem Financiamento</span> {{origemFinanciamento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.origemFinanciamento.idOrigemFinanciamento">Id Origem Financiamento</span></dt>
        <dd>
            <span>{{origemFinanciamento.idOrigemFinanciamento}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.origemFinanciamento.descricaoOrigemFinanciamento">Descricao Origem Financiamento</span></dt>
        <dd>
            <span>{{origemFinanciamento.descricaoOrigemFinanciamento}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'origem-financiamento/'+ origemFinanciamento.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
