
<div *ngIf="finalidadeProjeto">
    <h2><span jhiTranslate="sisasApp.finalidadeProjeto.detail.title">FinalidadeProjeto</span> {{finalidadeProjeto.nmFinalidade}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.finalidadeProjeto.nmFinalidade">Nm FinalidadeProjeto</span></dt>
        <dd>
            <span>{{finalidadeProjeto.nmFinalidade}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'finalidade-projeto/'+ finalidadeProjeto.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
