<div>
    <div class="export-container">
        <h2 style="text-align: center">
            <span>Tratamento de Sistemas de Água (Nível Provincial)</span>
            <button type="button" (click)="exportTable('table')" class="btn btn-primary btn-sm excel">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('content')" class="btn btn-primary btn-sm bt-pdf">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </h2>
    </div>
    <div id="content">
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="table" class="table table-striped">
                <thead>
                <tr class="fundo-hd-table" style=" text-align: center;">
                    <th class="borda-th" colspan="2"></th>
                    <th class="borda-th" colspan="4"><span>Tipo de Tratamento</span></th>
                </tr>
                <tr class="fundo-hd-table">
                    <th class="borda-th"><span>Provincia</span></th>
                    <th class="borda-th"><span>N° de Sistemas de Água</span></th>
                    <th class="borda-th"><span>PADRÃO</span></th>
                    <th class="borda-th"><span>BÁSICO</span></th>
                    <th class="borda-th"><span>NÃO REALIZA</span></th>
                    <th class="borda-th"><span>OUTROS</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                    <td class="borda-th">{{provincia.nomeProvincia}}</td>
                    <td class="borda-th">{{provincia.sistemasAgua}}</td>
                    <td class="borda-th">{{provincia.padrao}}</td>
                    <td class="borda-th">{{provincia.basico}}</td>
                    <td class="borda-th">{{provincia.naoRealiza | number }}</td>
                    <td class="borda-th">{{provincia.outros | number }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="fundo-hd-table">
                    <td style="text-align: center;"> <span style="font-weight: bold">Total Nacional: </span></td>
                    <td style="text-align: center;"> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td style="text-align: center;"> <span style="font-weight: bold">{{totalPadrao}} </span></td>
                    <td style="text-align: center;"> <span style="font-weight: bold">{{totalBasico}} </span></td>
                    <td style="text-align: center;"> <span style="font-weight: bold">{{totalNaoRealiza | number }} </span></td>
                    <td style="text-align: center;"> <span style="font-weight: bold">{{totalOutros | number }} </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <br>
        <!--<div class="card">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="card card-dash">-->
                        <!--<div id="chart" style="height: 370px; width: 98%; margin-left: 3%"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
