<div>
    <div class="export-container">
        <button type="button" (click)="exportTable('table')" class="btn btn-primary btn-sm">
            <span class="fa fa-file-excel-o"></span>
            <span class="d-none d-md-inline">Excel</span>
        </button>
        <button type="button" (click)="captureScreen('content')" class="btn btn-primary btn-sm">
            <span class="fas fa-file-pdf"></span>
            <span class="d-none d-md-inline">PDF</span>
        </button>
    </div>
    <div id="content">
        <h2 style="margin-left: 25%">
            <span>Tratamento de Sistemas de Água</span>
        </h2>
        <jhi-alert></jhi-alert>

        <div class="card">
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Provincia</span></th>
                        <th><span>N° de Sistemas de Água</span></th>
                        <th><span>PADRAO</span></th>
                        <th><span>BÁSICOS</span></th>
                        <th><span>NAO REALIZA</span></th>
                        <th><span>OUTROS</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                        <td>{{provincia.nomeProvincia}}</td>
                        <td>{{provincia.sistemasAgua}}</td>
                        <td>{{provincia.padrao}}</td>
                        <td>{{provincia.basico}}</td>
                        <td>{{provincia.naoRealiza | number }}</td>
                        <td>{{provincia.outros | number }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold">Total Nacional: </span></td>
                        <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                        <td> <span style="font-weight: bold">{{totalPadrao}} </span></td>
                        <td> <span style="font-weight: bold">{{totalBasico}} </span></td>
                        <td> <span style="font-weight: bold">{{totalNaoRealiza | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalOutros | number }} </span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dash">
                        <div id="chart" style="height: 370px; width: 98%; margin-left: 3%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
