
<div *ngIf="segurancasLog">
    <h2><span jhiTranslate="sisasApp.segurancasLog.detail.title">Relatorios Log</span> {{segurancasLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.segurancasLog.acao">Acao</span></dt>
        <dd>
            <span>{{segurancasLog.acao}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.segurancasLog.idUsuario">Id Usuario</span></dt>
        <dd>
            <span>{{segurancasLog.idUsuario}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.segurancasLog.log">Log</span></dt>
        <dd>
            <span>{{segurancasLog.log}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.segurancasLog.dtLog">Dt Log</span></dt>
        <dd>
            <span>{{segurancasLog.dtLog | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
