<form name="editForm" role="form" novalidate #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
            Create or edit a User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">
            x
        </button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.firstName">Nome</label>
                    <input type="text" class="form-control" name="nome" #nomeInput="ngModel"
                           [(ngModel)]="user.nome" maxlength="50">

                    <div *ngIf="nomeInput.dirty && nomeInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="nomeInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                               translateValues="{max: 255}">
                            This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                    <input type="text" class="form-control" name="login" #loginInput="ngModel"
                           [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="loginInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="loginInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                               translateValues="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="loginInput.errors.pattern" jhiTranslate="entity.validation.patternLogin">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                    <input type="email" class="form-control" name="email" #emailInput="ngModel"
                           [(ngModel)]="user.email" minlength="5" required maxlength="100" email>

                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                               translateValues="{max: 100}">
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.minlength" jhiTranslate="entity.validation.minlength"
                               translateValues="{min: 5}">
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="celular">Telemóvel</label>
                    <input type="text" class="form-control" name="celular" id="celular"
                           #celularInput="ngModel"
                           [(ngModel)]="user.celular"
                           maxlength="11">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label negrito"
                           for="field_idProvincia">Provincia</label>
                    <select class="form-control" id="field_idProvincia" name="provincia" [(ngModel)]="user.provincia" (ngModelChange)="onChangeMunicipios()" required>
                        <option *ngIf="!editForm.value.provincia" [ngValue]="null" selected>Selecione a Província..</option>
                        <option [ngValue]="provinciaOption.id === user.provincia?.id ? user.provincia : provinciaOption"
                                *ngFor="let provinciaOption of provincias">{{provinciaOption.nmProvincia}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.provincia?.dirty && editForm.controls.provincia?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.provincia?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label negrito"
                           for="field_idMunicipio">Municipio</label>
                    <select class="form-control" id="field_idMunicipio" name="municipio" [(ngModel)]="user.municipio" (ngModelChange)="onChangeComunas()" required>
                        <option *ngIf="!editForm.value.municipio" [ngValue]="null" selected>Selecione o Municipio..</option>
                        <option [ngValue]="municipioOption.id === user.municipio?.id ? user.municipio : municipioOption"
                                *ngFor="let municipioOption of municipios">{{municipioOption.nmMunicipio}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.municipio?.dirty && editForm.controls.municipio?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.municipio?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label negrito" for="field_idComuna">Comuna</label>
                    <select class="form-control" id="field_idComuna" name="comuna" [(ngModel)]="user.comuna" required>
                        <option *ngIf="!editForm.value.comuna" [ngValue]="null" selected>Selecione a Comuna...</option>
                        <option [ngValue]="comunaOption.id === user.comuna?.id ? user.comuna :comunaOption "
                                *ngFor="let comunaOption of comunas">{{comunaOption.nmComuna}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.comuna?.dirty && editForm.controls.comuna?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.comuna?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>

        <br/>
        <div class="collapse" id="collapseExample">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">BR</label>
                        <input type="text" class="form-control" name="brAssociado" [(ngModel)]="user.brAssociado">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">RF</label>
                        <input type="text" class="form-control" name="rfAssociado" [(ngModel)]="user.rfAssociado">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">QR</label>
                        <input type="text" class="form-control" name="qrAssociado" [(ngModel)]="user.qrAssociado">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">NF</label>
                        <input type="text" class="form-control" name="nfAssociado" [(ngModel)]="user.nfAssociado">
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                Status
                <div class="check-box-scged">
                    <input id="someSwitchOptionSuccess" type="checkbox" name="status" [(ngModel)]="user.activated"/>
                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                </div>
            </li>
        </ul>

        <br/>
        <div class="form-group">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span
            jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <form (ngSubmit)="save()">
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-floppy-o"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </form>
    </div>
</form>
