<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <br>
    <div class="export-container">
        <button type="button" (click)="exportTable('tbmuni')" class="btn btn-primary btn-sm">
            <span class="fa fa-file-excel-o"></span>
            <span class="d-none d-md-inline">Excel</span>
        </button>
        <button type="button" (click)="captureScreen('muni')" class="btn btn-primary btn-sm">
            <span class="fas fa-file-pdf"></span>
            <span class="d-none d-md-inline">PDF</span>
        </button>
    </div>
    <jhi-alert></jhi-alert>
    <br>

    <div class="card">
        <div id="muni">
            <div class="row">
                <h2 style="margin-left: 2%">
                    <span>Beneficiários de Água por Fonte Subterrânea e Bomba de Energia</span>
                </h2>
            </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tbmuni" class="table table-striped">
                <thead>
                <!--<tr>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--<th></th>-->
                    <!--<th colspan="5"><span style="margin-left: 30%">N° de Sistemas por Tipo de Bomba Manual</span></th>-->
                <!--</tr>-->
                <tr>
                    <th><span>Província</span></th>
                    <th><span>Municipio</span></th>
                    <th><span>Comuna</span></th>

                    <th><span>Total Sistemas</span></th>
                    <th><span>Electra</span></th>
                    <th><span>Funcionam</span></th>
                    <th><span>Nao Funcionam</span></th>

                    <th><span>Diesel</span></th>
                    <th><span>Diesel Funcionam</span></th>
                    <th><span>Diesel Nao Funcionam</span></th>

                    <th><span>Gravidade</span></th>
                    <th><span>Gravidade Funcionam</span></th>
                    <th><span>Gravidade Nao Funcionam</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.nomeComuna}}</td>
                    <td>{{provincia.totalSistemas}}</td>
                    <td>{{provincia.electricaSistemas}}</td>
                    <td>{{provincia.electricaFuncionam}}</td>
                    <td>{{provincia.electricaNaoFuncionam}}</td>
                    <td>{{provincia.dieselSistemas}}</td>
                    <td>{{provincia.dieselFuncionam}}</td>
                    <td>{{provincia.dieselNaoFuncionam}}</td>
                    <td>{{provincia.gravidadeSistemas}}</td>
                    <td>{{provincia.gravidadeFuncionam}}</td>
                    <td>{{provincia.gravidadeNaoFuncionam}}</td>
                </tr>
                </tbody>
                <!--<tfoot>-->
                <!--<tr>-->
                    <!--<td> <span style="font-weight: bold"></span></td>-->
                    <!--<td> <span style="font-weight: bold"></span></td>-->
                    <!--<td> <span style="font-weight: bold"></span></td>-->
                    <!--<td> <span style="font-weight: bold"></span></td>-->
                    <!--<td> <span style="font-weight: bold"></span></td>-->
                    <!--<td> <span style="font-weight: bold">Total Municipal: </span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalPocoMelhorado | number }}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalFuro | number}}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalNascente | number}}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalAfridev | number }} </span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalVergnet | number }}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalVolanta | number }}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalIndia | number }}</span></td>-->
                    <!--<td> <span style="font-weight: bold">{{totalOutro | number }}</span></td>-->
                <!--</tr>-->
                <!--</tfoot>-->
            </table>
        </div>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
