<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConcepcaoLabel" jhiTranslate="sisasApp.concepcao.home.createOrEditLabel">Create or edit a Concepcao</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!concepcao.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="concepcao.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.idConcepcao" for="field_idConcepcao">Id Concepcao</label>
            <input type="number" class="form-control" name="idConcepcao" id="field_idConcepcao"
                [(ngModel)]="concepcao.idConcepcao" required/>
            <div [hidden]="!(editForm.controls.idConcepcao?.dirty && editForm.controls.idConcepcao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idConcepcao?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idConcepcao?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.tipoConcurso" for="field_tipoConcurso">Tipo Concurso</label>
            <input type="text" class="form-control" name="tipoConcurso" id="field_tipoConcurso"
                [(ngModel)]="concepcao.tipoConcurso" required maxlength="150"/>
            <div [hidden]="!(editForm.controls.tipoConcurso?.dirty && editForm.controls.tipoConcurso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoConcurso?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoConcurso?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.dtLancamento" for="field_dtLancamento">Dt Lancamento</label>
            <div class="input-group">
                <input id="field_dtLancamento" type="text" class="form-control" name="dtLancamento" ngbDatepicker  #dtLancamentoDp="ngbDatepicker" [(ngModel)]="concepcao.dtLancamento"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtLancamentoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dtLancamento?.dirty && editForm.controls.dtLancamento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dtLancamento?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.dtUltimaAlteracao" for="field_dtUltimaAlteracao">Dt Ultima Alteracao</label>
            <div class="input-group">
                <input id="field_dtUltimaAlteracao" type="text" class="form-control" name="dtUltimaAlteracao" ngbDatepicker  #dtUltimaAlteracaoDp="ngbDatepicker" [(ngModel)]="concepcao.dtUltimaAlteracao"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtUltimaAlteracaoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.dtElaboracaoCon" for="field_dtElaboracaoCon">Dt Elaboracao Con</label>
            <div class="input-group">
                <input id="field_dtElaboracaoCon" type="text" class="form-control" name="dtElaboracaoCon" ngbDatepicker  #dtElaboracaoConDp="ngbDatepicker" [(ngModel)]="concepcao.dtElaboracaoCon"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtElaboracaoConDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.dtAprovacaoCon" for="field_dtAprovacaoCon">Dt Aprovacao Con</label>
            <div class="input-group">
                <input id="field_dtAprovacaoCon" type="text" class="form-control" name="dtAprovacaoCon" ngbDatepicker  #dtAprovacaoConDp="ngbDatepicker" [(ngModel)]="concepcao.dtAprovacaoCon"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtAprovacaoConDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.idProgramasProjectos" for="field_idProgramasProjectos">Id Programas Projectos</label>
            <select class="form-control" id="field_idProgramasProjectos" name="idProgramasProjectos" [(ngModel)]="concepcao.programasProjectos"  required>
                <option *ngIf="!editForm.value.idProgramasProjectos" [ngValue]="null" selected></option>
                <option [ngValue]="programasProjectosOption.id" *ngFor="let programasProjectosOption of programasprojectos; trackBy: trackProgramasProjectosById">{{programasProjectosOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.idProgramasProjectos?.dirty && editForm.controls.idProgramasProjectos?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.idProgramasProjectos?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.concepcao.idSistemaAgua" for="field_idSistemaAgua">Id Sistema Agua</label>
            <select class="form-control" id="field_idSistemaAgua" name="idSistemaAgua" [(ngModel)]="concepcao.idSistemaAguaId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sistemaAguaOption.id" *ngFor="let sistemaAguaOption of sistemaaguas; trackBy: trackSistemaAguaById">{{sistemaAguaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
