<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProdutoLabel" jhiTranslate="sisasApp.cadastroPdf.home.createOrEditLabel">Create or edit a Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.cadastroPdf.titulo" for="field_titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" id="field_titulo"
                [(ngModel)]="arquivo.nomeArquivo" required/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.cadastroPdf.capa" for="produto_arquivo_field"> Arquivo </label>
            <div class="d-flex" >
                <input #inputFile type="file" (change)="selectFile($event)" id="produto_arquivo_field" *ngIf="!arquivo.id" >
            </div>
            <a class="btn btn-sm" *ngIf="arquivo.id && arquivo.uri">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <a href="{{arquivo.uri}}" target='_blank'>Download do Arquivo</a>
            </a>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.cadastroPdf.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="arquivo.descricao" required/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
