<div>
    <h2>
        <span style="margin-left: 5%" jhiTranslate="sisasApp.pdf.home.title">Pdf</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard']">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button class="btn btn-primary float-right jh-create-entity redondo" [routerLink]="['/', { outlets: { popup: ['pdf-new'] } }]" >
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <br/>

    <div class="row" style="margin-left: 5px">
        <br/>
        <div class="col-md-4 col-sm-4" style="margin-bottom: 20px; max-width: 25%; margin-left: 5px" *ngFor="let prod of produtos ;trackBy: trackId">
            <div style="text-align: center">
                <button type="submit" [routerLink]="['/', { outlets: { popup: 'pdf/'+ prod.id + '/edit'} }]"
                        replaceUrl="true" queryParamsHandling="merge"
                        class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                </button>
                <button type="submit" [routerLink]="['/', { outlets: { popup: 'pdf/'+ prod.id + '/delete'} }]"
                        replaceUrl="true" queryParamsHandling="merge"
                        class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                </button>
            </div>

            <div style="text-align: center">
                <img src="pdf-icon.png" style="height: 200px; width: 200px" class="thumbnail" alt="capa"/>
            </div>

            <h4 class="title" style="height: 35px; font-weight: 200; text-align: center">{{ prod.descricao }}</h4>
        </div>
    </div>
    <div *ngIf="valorAtual < produtosFilt?.length">
        <button (click)="loadMore()" class="btn loadMore">Carregar mais...</button>
    </div>
</div>
