<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <h2>
        <span>Cobertura no sector de Água e Saneamento (Nível nacional)</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>

    <div class="card">
        <div class="table-responsive" *ngIf="listaTabela">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Ambito</span></th>
                    <th><span>Populacao</span></th>
                    <th><span>%</span></th>
                    <th><span>N de Habitantes</span></th>
                    <th><span>%</span></th>
                    <th><span>N de Habitantes</span></th>
                    <th><span>%</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                    <td>{{provincia.ambito}}</td>
                    <td>{{provincia.populacao | number }}</td>
                    <td>{{provincia.populacaoPercentage}}%</td>
                    <td>{{provincia.habitantes | number }}</td>
                    <td>{{provincia.habitantesPercent}}%</td>
                    <td>{{provincia.habitantesSaneamento  | number }}</td>
                    <td>{{provincia.habitantesSaneamentoPer}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="row">
            <div class="col-md-6 teste-acima">
                <div class="card card-dash">
                    <div id="chartContainer" style="height: 370px; width: 98%; margin-left: 3%"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-dash">
                    <div id="chartContainerSan" style="height: 370px; width: 98%; margin-left: 3%"></div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-dash">
                    <div id="chartAguaSaneamento" style="height: 370px; width: 98%; margin-left: 3%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>

</div>
