<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <div class="row">
        <h2 style="margin-left: 20%" *ngIf="tipoRelatorio == null">
            <span>Cobertura no sector de Água</span>
        </h2>
        <h2 *ngIf="tipoRelatorio ==='Nível Nacional'">
            <span>Cobertura no sector de Água (Nível nacional)</span>
        </h2>
        <h2 *ngIf="tipoRelatorio==='Nível Provincial'">
            <span>Cobertura no sector de Água (Nível Provincial)</span>
        </h2>
        <h2 *ngIf="tipoRelatorio==='Nível Municipal'">
            <span>Cobertura no sector de Água (Nível Municipal)</span>
        </h2>
        <h2 *ngIf="tipoRelatorio==='Nível Comunal'">
            <span>Cobertura no sector de Água (Nível Comunal)</span>
        </h2>

        <button *ngIf="tipoRelatorio !== null" type="button" style="margin-left: auto" class="btn btn-secondary" data-dismiss="modal" (click)="voltarEscolha()">
            <span class="fa fa-bars"></span>&nbsp;<span>Tipo Relatorio</span>
        </button>
    </div>

    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="tipoRelatorio == null">
        <div class="form-group col-sm-12">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo_relatorio" style="font-weight: bold">Escolha o tipo de Relatório</label>
                    <select class="form-control" id="field_tipo_relatorio" name="tprelatorio" [(ngModel)]="tipoRelatorio" (change)="validaTipoRelatorio()">
                        <option [ngValue]="null" selected>Selecione o Modelo de Relatório...</option>
                        <option label="Nível Nacional">Nível Nacional</option>
                        <option label="Nível Provincial">Nível Provincial</option>
                        <option label="Nível Municipal">Nível Municipal</option>
                        <option label="Nível Comunal">Nível Comunal</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div id="contennacional">
        <div class="card" *ngIf="tipoRelatorio==='Nível Nacional'">
            <div class="export-container">
                <button type="button" (click)="exportTable('tablenac')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('contennacional')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="tablenac" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Ambito</span></th>
                        <th><span>População</span></th>
                        <th><span>%</span></th>
                        <th><span>N de Habitantes</span></th>
                        <!--<th><span>%</span></th>-->
                        <!--<th><span>N de Habitantes</span></th>-->
                        <!--<th><span>%</span></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                        <td>{{provincia.ambito}}</td>
                        <td>{{provincia.populacao | number }}</td>
                        <td>{{provincia.populacaoPercentage | number:'1.2-2'}}%</td>
                        <td>{{provincia.habitantes | number }}</td>
                        <!--<td>{{provincia.habitantesPercent}}%</td>-->
                        <!--<td>{{provincia.habitantesSaneamento  | number }}</td>-->
                        <!--<td>{{provincia.habitantesSaneamentoPer}}%</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="tipoRelatorio==='Nível Nacional'">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dash">
                        <div id="chartContainer" style="height: 370px; width: 98%; margin-left: 3%"></div>
                    </div>
                </div>
                <!--<div class="col-md-6">-->
                    <!--<div class="card card-dash">-->
                        <!--<div id="chartContainerSan" style="height: 370px; width: 98%; margin-left: 3%"></div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <!--<br>-->

            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="card card-dash">-->
                        <!--<div id="chartAguaSaneamento" style="height: 370px; width: 98%; margin-left: 3%"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <div id="contentpro">
        <div class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
            <div class="export-container">
                <button type="button" (click)="exportTable('tableprovin')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('contentpro')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="tableprovin" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Províncias</span></th>
                        <th><span>N° de Municípios</span></th>
                        <th><span>N° de Comunas</span></th>
                        <th><span>População Total</span></th>
                        <th><span>Água</span></th>
                        <!--<th><span>Saneamento</span></th>-->
                        <th><span>Águas%</span></th>
                        <!--<th><span>Saneamento%</span></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                        <td>{{provincia.provincia}}</td>
                        <td>{{provincia.numeroMunicipios | number }}</td>
                        <td>{{provincia.numeroComunas | number:'1.2-2'}}%</td>
                        <td>{{provincia.populacaoTotal | number }}</td>
                        <td>{{provincia.populacaoBeneficiadaAgua}}%</td>
                        <!--<td>{{provincia.populacaoBeneficiadaSaneamento  | number }}</td>-->
                        <td>{{provincia.coberturaAgua | number:'1.2-2'}}%</td>
                        <!--<td>{{provincia.coberturaSaneamento}}%</td>-->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold">Total Provincial: </span></td>
                        <td> <span style="font-weight: bold">{{totalMunicipios}} </span></td>
                        <td> <span style="font-weight: bold">{{totalComunas}} </span></td>
                        <td> <span style="font-weight: bold">{{totalPopulacao}} </span></td>
                        <td> <span style="font-weight: bold">{{totalBenefAgua | number }} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalBenefSaneamento | number }} </span></td>-->
                        <td> <span style="font-weight: bold">{{totalCobertAgua}} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalCobertSaneamento}} </span></td>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
            <div id="chartProvincial" style="height: 400px; width: 97%; margin-left: 3%"></div>
        </div>
    </div>

    <div id="contmunic">
        <div class="card" *ngIf="tipoRelatorio==='Nível Municipal'">
            <div class="export-container">
                <button type="button" (click)="exportTable('tbmunic')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('contmunic')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="tbmunic" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="1"><span style="float: right">Populacão Beneficiária</span></th>
                        <th colspan="1"><span style="margin-left: 20%;">COBERTURA %</span></th>
                    </tr>
                    <tr>
                        <th><span>Município</span></th>
                        <th><span>N° de Comunas</span></th>
                        <th><span>Populacão Total</span></th>
                        <th><span>Água</span></th>
                        <!--<th><span>Saneamento</span></th>-->
                        <th><span>Água</span></th>
                        <!--<th><span>Saneamento</span></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                        <td>{{provincia.municipio | number }}</td>
                        <td>{{provincia.numeroComunas}}%</td>
                        <td>{{provincia.populacaoTotal | number }}</td>
                        <td>{{provincia.populacaoBeneficiadaAgua}}%</td>
                        <!--<td>{{provincia.populacaoBeneficiadaSaneamento  | number }}</td>-->
                        <td>{{provincia.coberturaAgua | number:'1.2-2'}}%</td>
                        <!--<td>{{provincia.coberturaSaneamento}}%</td>-->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold"></span></td>
                        <td> <span style="font-weight: bold">Total Municipal: </span></td>
                        <td> <span style="font-weight: bold">{{totalComunas}} </span></td>
                        <td> <span style="font-weight: bold">{{totalPopulacao}} </span></td>
                        <td> <span style="font-weight: bold">{{totalBenefAgua | number }} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalBenefSaneamento | number }} </span></td>-->
                        <td> <span style="font-weight: bold">{{totalCobertAgua}} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalCobertSaneamento}} </span></td>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div id="contenComun">
        <div class="card" *ngIf="tipoRelatorio==='Nível Comunal'">
            <div class="export-container">
                <button type="button" (click)="exportTable('tbcomunc')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('contenComun')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="tbcomunc" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="1"><span style="float: right">Populacão Beneficiária</span></th>
                        <th colspan="1"><span style="margin-left: 20%;">COBERTURA %</span></th>
                    </tr>
                    <tr>
                        <th><span>Comuna</span></th>
                        <th><span>Populacão Total</span></th>
                        <th><span>Água</span></th>
                        <!--<th><span>Saneamento</span></th>-->
                        <th><span>Água</span></th>
                        <!--<th><span>Saneamento</span></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                        <td>{{provincia.comuna}}</td>
                        <td>{{provincia.populacaoTotal | number }}</td>
                        <td>{{provincia.populacaoBeneficiadaAgua}}%</td>
                        <!--<td>{{// provincia.populacaoBeneficiadaSaneamento  | number }}</td>-->
                        <td>{{provincia.coberturaAgua | number:'1.2-2'}}%</td>
                        <!--<td>{{provincia.coberturaSaneamento}}%</td>-->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold"></span></td>
                        <td> <span style="font-weight: bold">Total Comunal: </span></td>
                        <td> <span style="font-weight: bold">{{totalPopulacao}} </span></td>
                        <td> <span style="font-weight: bold">{{totalBenefAgua | number }} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalBenefSaneamento | number }} </span></td>-->
                        <td> <span style="font-weight: bold">{{totalCobertAgua}} </span></td>
                        <!--<td> <span style="font-weight: bold">{{totalCobertSaneamento}} </span></td>-->
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard        ']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>

</div>
