<div>
    <h2>
        <span style="margin-left: 5%" jhiTranslate="sisasApp.programasProjectos.home.title">Programas Projectos</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard']">
            <span class="fa fa-chevron-left"></span>
        </button>
        <!--<button class="btn btn-primary float-right jh-create-entity redondo" [routerLink]="['/', { outlets: { popup: ['programas-projectos-new'] } }]">-->
        <button type="submit" class="btn btn-primary float-right jh-create-entity redondo" [routerLink]="['../programas-projectos-new']">
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <br/>
    <jhi-alert></jhi-alert>
    <input type="text" class="form-control pesquisa" name="filtro" [(ngModel)]="nome" (ngModelChange)="onChangeNome()"
           placeholder="Buscar..." style="font-style:italic"/>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="programasProjectos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nmDesignacaoProjeto"><span jhiTranslate="sisasApp.programasProjectos.nmDesignacaoProjeto">Nm Designacao Projeto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nmDescricaoProjeto"><span jhiTranslate="sisasApp.programasProjectos.nmDescricaoProjeto">Nm Descricao Projeto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idUsuario"><span jhiTranslate="sisasApp.programasProjectos.idUsuario">Id Usuario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idSaaAssociado"><span jhiTranslate="sisasApp.programasProjectos.idSaaAssociado">Id Saa Associado</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="tipoFinanciamento"><span jhiTranslate="sisasApp.programasProjectos.tipoFinanciamento">Tipo Financiamento</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="especialidade"><span jhiTranslate="sisasApp.programasProjectos.especialidades">Especialidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idProvinciaId"><span jhiTranslate="sisasApp.programasProjectos.idProvincia">Id Provincia</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let programasProjectos of programasProjectos ;trackBy: trackId">
                <td>{{programasProjectos.nmDesignacaoProjeto}}</td>
                <td>{{programasProjectos.nmDescricaoProjeto}}</td>
                <td>{{programasProjectos.usuario?.nome}}</td>
                <td>{{programasProjectos.idSaaAssociado}}</td>
                <!--<td>{{programasProjectos.tipoFinanciamento}}</td>-->
                <td>
                    <div *ngIf="programasProjectos.especialidades">
                        <a [routerLink]="['../especialidades', programasProjectos.especialidades.id  ]" >{{programasProjectos.especialidades.nmEspecialidade}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="programasProjectos.provincia">
                        <a [routerLink]="['../provincia', programasProjectos.provincia  ]" >{{programasProjectos.provincia.nmProvincia}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../programas-projectos', programasProjectos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'programas-projectos/'+ programasProjectos.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['../programas-projectos-edit', programasProjectos.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'programas-projectos/'+ programasProjectos.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="programasProjectos && programasProjectos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
