<header class="main-header" *jhiHasAnyAuthority="['ROLE_USER','USUARIO_PROVINCIAL', 'ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
    <router-outlet name="navbar"></router-outlet>
</header>

<aside>
    <router-outlet name="sidebar"></router-outlet>
</aside>

<br/><br/>
<div class="container-fluid" style="padding-right: 1px !important;">
    <div class="card jh-card" *jhiHasAnyAuthority="['ROLE_USER','USUARIO_PROVINCIAL', 'ROLE_ADMIN', 'ADMIN_PROVINCIAL']">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>

    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>

    <!--<div class="jhi-card-espaco">.</div>-->
    <!--<jhi-footer></jhi-footer>-->
</div>

