
<div *ngIf="sobreDna">
    <h2><span jhiTranslate="sisasApp.sobreDna.detail.title">Sobre Dna</span> {{sobreDna.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.sobreDna.idSobreDna">Id Sobre Dna</span></dt>
        <dd>
            <span>{{sobreDna.idSobreDna}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.sobreDna.tituloSobreDna">Titulo Sobre Dna</span></dt>
        <dd>
            <span>{{sobreDna.tituloSobreDna}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.sobreDna.textoSobreDna">Texto Sobre Dna</span></dt>
        <dd>
            <span>{{sobreDna.textoSobreDna}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.sobreDna.resumoTextoSobreDna">Resumo Texto Sobre Dna</span></dt>
        <dd>
            <span>{{sobreDna.resumoTextoSobreDna}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.sobreDna.idSituacao">Id Situacao</span></dt>
        <dd>
            <div *ngIf="sobreDna.idSituacaoId">
                <a [routerLink]="['/situacao', sobreDna.idSituacaoId]">{{sobreDna.idSituacaoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sobre-dna/'+ sobreDna.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
