<div>
    <h2>
        <span style="margin-left: 5%" jhiTranslate="sisasApp.sobreDna.home.title">Sobre Dnas</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard']">
            <span class="fa fa-chevron-left"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
</div>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label style="font-weight: bold" class="form-control-label" jhiTranslate="sisasApp.noticiasPortal.titulo" for="field_titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" id="field_titulo"
                   [(ngModel)]="sobre.tituloSobreDna" />
        </div>
        <div class="form-group">
            <ckeditor name="texto"
                      [(ngModel)]="sobre.textoSobreDna"
                      [readonly]="false"
                      debounce="500">
            </ckeditor>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
