<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySobreDnaLabel" jhiTranslate="sisasApp.sobreDna.home.createOrEditLabel">Create or edit a Sobre Dna</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sobreDna.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sobreDna.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.sobreDna.idSobreDna" for="field_idSobreDna">Id Sobre Dna</label>
            <input type="number" class="form-control" name="idSobreDna" id="field_idSobreDna"
                [(ngModel)]="sobreDna.idSobreDna" required/>
            <div [hidden]="!(editForm.controls.idSobreDna?.dirty && editForm.controls.idSobreDna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idSobreDna?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idSobreDna?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.sobreDna.tituloSobreDna" for="field_tituloSobreDna">Titulo Sobre Dna</label>
            <input type="text" class="form-control" name="tituloSobreDna" id="field_tituloSobreDna"
                [(ngModel)]="sobreDna.tituloSobreDna" required maxlength="150"/>
            <div [hidden]="!(editForm.controls.tituloSobreDna?.dirty && editForm.controls.tituloSobreDna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tituloSobreDna?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tituloSobreDna?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.sobreDna.textoSobreDna" for="field_textoSobreDna">Texto Sobre Dna</label>
            <input type="text" class="form-control" name="textoSobreDna" id="field_textoSobreDna"
                [(ngModel)]="sobreDna.textoSobreDna" required maxlength="2500"/>
            <div [hidden]="!(editForm.controls.textoSobreDna?.dirty && editForm.controls.textoSobreDna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.textoSobreDna?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.textoSobreDna?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2500 }">
                   This field cannot be longer than 2500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.sobreDna.resumoTextoSobreDna" for="field_resumoTextoSobreDna">Resumo Texto Sobre Dna</label>
            <input type="text" class="form-control" name="resumoTextoSobreDna" id="field_resumoTextoSobreDna"
                [(ngModel)]="sobreDna.resumoTextoSobreDna" required maxlength="100"/>
            <div [hidden]="!(editForm.controls.resumoTextoSobreDna?.dirty && editForm.controls.resumoTextoSobreDna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resumoTextoSobreDna?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resumoTextoSobreDna?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.sobreDna.idSituacao" for="field_idSituacao">Id Situacao</label>
            <select class="form-control" id="field_idSituacao" name="idSituacao" [(ngModel)]="sobreDna.idSituacaoId"  required>
                <option *ngIf="!editForm.value.idSituacao" [ngValue]="null" selected></option>
                <option [ngValue]="situacaoOption.id" *ngFor="let situacaoOption of situacaos; trackBy: trackSituacaoById">{{situacaoOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.idSituacao?.dirty && editForm.controls.idSituacao?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.idSituacao?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
