<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContratoLabel" jhiTranslate="sisasApp.contrato.home.createOrEditLabel">Create or edit a Contrato</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contrato.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contrato.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.idContrato" for="field_idContrato">Id Contrato</label>
            <input type="number" class="form-control" name="idContrato" id="field_idContrato"
                [(ngModel)]="contrato.idContrato" required/>
            <div [hidden]="!(editForm.controls.idContrato?.dirty && editForm.controls.idContrato?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idContrato?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idContrato?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.tipoEmpreitada" for="field_tipoEmpreitada">Tipo Empreitada</label>
            <input type="text" class="form-control" name="tipoEmpreitada" id="field_tipoEmpreitada"
                [(ngModel)]="contrato.tipoEmpreitada" required maxlength="150"/>
            <div [hidden]="!(editForm.controls.tipoEmpreitada?.dirty && editForm.controls.tipoEmpreitada?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoEmpreitada?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoEmpreitada?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtLancamento" for="field_dtLancamento">Dt Lancamento</label>
            <div class="input-group">
                <input id="field_dtLancamento" type="text" class="form-control" name="dtLancamento" ngbDatepicker  #dtLancamentoDp="ngbDatepicker" [(ngModel)]="contrato.dtLancamento"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtLancamentoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dtLancamento?.dirty && editForm.controls.dtLancamento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dtLancamento?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.nmEmpresaAdjudicitaria" for="field_nmEmpresaAdjudicitaria">Nm Empresa Adjudicitaria</label>
            <input type="text" class="form-control" name="nmEmpresaAdjudicitaria" id="field_nmEmpresaAdjudicitaria"
                [(ngModel)]="contrato.nmEmpresaAdjudicitaria" maxlength="200"/>
            <div [hidden]="!(editForm.controls.nmEmpresaAdjudicitaria?.dirty && editForm.controls.nmEmpresaAdjudicitaria?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nmEmpresaAdjudicitaria?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.valorContrato" for="field_valorContrato">Valor Contrato</label>
            <input type="number" class="form-control" name="valorContrato" id="field_valorContrato"
                [(ngModel)]="contrato.valorContrato" required/>
            <div [hidden]="!(editForm.controls.valorContrato?.dirty && editForm.controls.valorContrato?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valorContrato?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valorContrato?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtAssinatura" for="field_dtAssinatura">Dt Assinatura</label>
            <div class="input-group">
                <input id="field_dtAssinatura" type="text" class="form-control" name="dtAssinatura" ngbDatepicker  #dtAssinaturaDp="ngbDatepicker" [(ngModel)]="contrato.dtAssinatura"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtAssinaturaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtFinalizacaoProcessoHomologAprov" for="field_dtFinalizacaoProcessoHomologAprov">Dt Finalizacao Processo Homolog Aprov</label>
            <div class="input-group">
                <input id="field_dtFinalizacaoProcessoHomologAprov" type="text" class="form-control" name="dtFinalizacaoProcessoHomologAprov" ngbDatepicker  #dtFinalizacaoProcessoHomologAprovDp="ngbDatepicker" [(ngModel)]="contrato.dtFinalizacaoProcessoHomologAprov"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtFinalizacaoProcessoHomologAprovDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.tipoMoeda" for="field_tipoMoeda">Tipo Moeda</label>
            <input type="text" class="form-control" name="tipoMoeda" id="field_tipoMoeda"
                [(ngModel)]="contrato.tipoMoeda" required maxlength="150"/>
            <div [hidden]="!(editForm.controls.tipoMoeda?.dirty && editForm.controls.tipoMoeda?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoMoeda?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipoMoeda?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.valorAdiantamento" for="field_valorAdiantamento">Valor Adiantamento</label>
            <input type="number" class="form-control" name="valorAdiantamento" id="field_valorAdiantamento"
                [(ngModel)]="contrato.valorAdiantamento" required/>
            <div [hidden]="!(editForm.controls.valorAdiantamento?.dirty && editForm.controls.valorAdiantamento?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valorAdiantamento?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.valorAdiantamento?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtAdiantamento" for="field_dtAdiantamento">Dt Adiantamento</label>
            <div class="input-group">
                <input id="field_dtAdiantamento" type="text" class="form-control" name="dtAdiantamento" ngbDatepicker  #dtAdiantamentoDp="ngbDatepicker" [(ngModel)]="contrato.dtAdiantamento"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtAdiantamentoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtInicio" for="field_dtInicio">Dt Inicio</label>
            <div class="input-group">
                <input id="field_dtInicio" type="text" class="form-control" name="dtInicio" ngbDatepicker  #dtInicioDp="ngbDatepicker" [(ngModel)]="contrato.dtInicio"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtInicioDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.prazoExecucao" for="field_prazoExecucao">Prazo Execucao</label>
            <input type="number" class="form-control" name="prazoExecucao" id="field_prazoExecucao"
                [(ngModel)]="contrato.prazoExecucao" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtRecepcaoProvisoria" for="field_dtRecepcaoProvisoria">Dt Recepcao Provisoria</label>
            <div class="input-group">
                <input id="field_dtRecepcaoProvisoria" type="text" class="form-control" name="dtRecepcaoProvisoria" ngbDatepicker  #dtRecepcaoProvisoriaDp="ngbDatepicker" [(ngModel)]="contrato.dtRecepcaoProvisoria"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtRecepcaoProvisoriaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtRecepcaoDefinitiva" for="field_dtRecepcaoDefinitiva">Dt Recepcao Definitiva</label>
            <div class="input-group">
                <input id="field_dtRecepcaoDefinitiva" type="text" class="form-control" name="dtRecepcaoDefinitiva" ngbDatepicker  #dtRecepcaoDefinitivaDp="ngbDatepicker" [(ngModel)]="contrato.dtRecepcaoDefinitiva"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtRecepcaoDefinitivaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.dtRecepcaoComicionamento" for="field_dtRecepcaoComicionamento">Dt Recepcao Comicionamento</label>
            <div class="input-group">
                <input id="field_dtRecepcaoComicionamento" type="text" class="form-control" name="dtRecepcaoComicionamento" ngbDatepicker  #dtRecepcaoComicionamentoDp="ngbDatepicker" [(ngModel)]="contrato.dtRecepcaoComicionamento"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dtRecepcaoComicionamentoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.nmResposavelAntProjeto" for="field_nmResposavelAntProjeto">Nm Resposavel Ant Projeto</label>
            <input type="text" class="form-control" name="nmResposavelAntProjeto" id="field_nmResposavelAntProjeto"
                [(ngModel)]="contrato.nmResposavelAntProjeto" maxlength="200"/>
            <div [hidden]="!(editForm.controls.nmResposavelAntProjeto?.dirty && editForm.controls.nmResposavelAntProjeto?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nmResposavelAntProjeto?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.nmResposavelProjeto" for="field_nmResposavelProjeto">Nm Resposavel Projeto</label>
            <input type="text" class="form-control" name="nmResposavelProjeto" id="field_nmResposavelProjeto"
                [(ngModel)]="contrato.nmResposavelProjeto" maxlength="200"/>
            <div [hidden]="!(editForm.controls.nmResposavelProjeto?.dirty && editForm.controls.nmResposavelProjeto?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nmResposavelProjeto?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.idProgramasProjectos" for="field_idProgramasProjectos">Id Programas Projectos</label>
            <select class="form-control" id="field_idProgramasProjectos" name="idProgramasProjectos" [(ngModel)]="contrato.programasProjectos"  required>
                <option *ngIf="!editForm.value.idProgramasProjectos" [ngValue]="null" selected></option>
                <option [ngValue]="programasProjectosOption.id" *ngFor="let programasProjectosOption of programasprojectos; trackBy: trackProgramasProjectosById">{{programasProjectosOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.idProgramasProjectos?.dirty && editForm.controls.idProgramasProjectos?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.idProgramasProjectos?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.contrato.idSistemaAgua" for="field_idSistemaAgua">Id Sistema Agua</label>
            <select class="form-control" id="field_idSistemaAgua" name="idSistemaAgua" [(ngModel)]="contrato.idSistemaAguaId"  required>
                <option *ngIf="!editForm.value.idSistemaAgua" [ngValue]="null" selected></option>
                <option [ngValue]="sistemaAguaOption.id" *ngFor="let sistemaAguaOption of sistemaaguas; trackBy: trackSistemaAguaById">{{sistemaAguaOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.idSistemaAgua?.dirty && editForm.controls.idSistemaAgua?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.idSistemaAgua?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
