<jhi-alert></jhi-alert>
<div>
    <div class="export-container">
        <button type="button" (click)="exportTable('comuntb')" class="btn btn-primary btn-sm">
            <span class="fa fa-file-excel-o"></span>
            <span class="d-none d-md-inline">Excel</span>
        </button>
        <button type="button" (click)="captureScreen('comuntb')" class="btn btn-primary btn-sm">
            <span class="fas fa-file-pdf"></span>
            <span class="d-none d-md-inline">PDF</span>
        </button>
    </div>
    <div id="comunnc">
        <h2 class="text-centro">
            <span>Beneficiários de Água por Fonte Subterrânea e Bomba de Energia (Nível Provincial)</span>
        </h2>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="comuntb" class="table table-striped">
                    <thead>
                    <tr style="background-color: #1f749c">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="borda-th" colspan="3"><span style="margin-left: 30%">Diesel</span></th>
                        <th class="borda-th" colspan="3"><span style="margin-left: 30%">Solar</span></th>
                        <th class="borda-th" colspan="3"><span style="margin-left: 30%">Eólica</span></th>
                        <th class="borda-th" colspan="3"><span style="margin-left: 30%">Electrica</span></th>
                        <th class="borda-th" colspan="3"><span style="margin-left: 30%">Outro</span></th>
                    </tr>
                    <tr class="borda-th" style="background-color: #1f749c">
                        <th class="borda-th"><span>Província</span></th>
                        <th class="borda-th"><span>População</span></th>
                        <th class="borda-th"><span>Poco Melhorado</span></th>
                        <th class="borda-th"><span>Furo</span></th>
                        <th class="borda-th"><span>Nascente</span></th>

                        <th class="borda-th"><span>N° Sist</span></th>
                        <th class="borda-th"><span>Pop.Benef</span></th>
                        <th class="borda-th"><span>(%)</span></th>

                        <th class="borda-th"><span>N° Sist</span></th>
                        <th class="borda-th"><span>Pop.Benef</span></th>
                        <th class="borda-th"><span>(%)</span></th>

                        <th class="borda-th"><span>N° Sist</span></th>
                        <th class="borda-th"><span>Pop.Benef</span></th>
                        <th class="borda-th"><span>(%)</span></th>

                        <th class="borda-th"><span>N° Sist</span></th>
                        <th class="borda-th"><span>Pop.Benef</span></th>
                        <th class="borda-th"><span>(%)</span></th>

                        <th class="borda-th"><span>N° Sist</span></th>
                        <th class="borda-th"><span>Pop.Benef</span></th>
                        <th class="borda-th"><span>(%)</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela" class="borda-th">
                        <td class="borda-th">{{provincia.nomeProvincia}}</td>
                        <td class="borda-th">{{provincia.populacao | number}}</td>
                        <td class="borda-th">{{provincia.pocoMelhorado}}</td>
                        <td class="borda-th">{{provincia.furo}}</td>
                        <td class="borda-th">{{provincia.nascente}}</td>

                        <td class="borda-th">{{provincia.dieselSistemas}}</td>
                        <td class="borda-th">{{provincia.dieselPopulacao}}</td>
                        <td class="borda-th">{{provincia.dieselPerc}}%</td>

                        <td class="borda-th">{{provincia.solarSistemas}}</td>
                        <td class="borda-th">{{provincia.solarPopulacao}}</td>
                        <td class="borda-th">{{provincia.solarPerc}}%</td>

                        <td class="borda-th">{{provincia.eolicaSistemas}}</td>
                        <td class="borda-th">{{provincia.eolicaPopulacao}}</td>
                        <td class="borda-th">{{provincia.eolicaPerc}}%</td>

                        <td class="borda-th">{{provincia.electricaSistemas}}</td>
                        <td class="borda-th">{{provincia.electricaPopulacao}}</td>
                        <td class="borda-th">{{provincia.electricaPerc}}%</td>

                        <td class="borda-th">{{provincia.outroSistemas}}</td>
                        <td class="borda-th">{{provincia.outroPopulacao}}</td>
                        <td class="borda-th">{{provincia.outroPerc}}%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="borda-th" style="background-color: #1f749c; border-top: 2px solid #dee2e6; border-bottom: 2px solid #dee2e6">
                        <td> <span style="font-weight: bold">Total: </span></td>
                        <td> <span style="font-weight: bold">{{totalPopulacao | number }}</span></td>
                        <td> <span style="font-weight: bold">{{totalPocoMelhorado | number }}</span></td>
                        <td> <span style="font-weight: bold">{{totalFuro | number}}</span></td>
                        <td> <span style="font-weight: bold">{{totalNascente | number}}</span></td>

                        <td> <span style="font-weight: bold">{{totalDieselSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalDieselPopulacao | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalDieselPerc | number}}%</span></td>

                        <td> <span style="font-weight: bold">{{totalSolarSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalSolarPopulacao | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalSolarPerc | number}}%</span></td>

                        <td> <span style="font-weight: bold">{{totalEolicaSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalEolicaPopulacao | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalEolicaPerc | number}}%</span></td>

                        <td> <span style="font-weight: bold">{{totalElectraSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalElectraPopulacao | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalElectraPerc | number}}%</span></td>

                        <td> <span style="font-weight: bold">{{totalOutroSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalOutroPopulacao | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalOutroPerc | number}}%</span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
