<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFornecedorLabel" jhiTranslate="sisasApp.fornecedor.home.createOrEditLabel">Create or edit a Fornecedor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fornecedor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fornecedor.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.fornecedor.nmFornecedor" for="field_nmFornecedor">Nm Fornecedor</label>
            <input type="text" class="form-control" name="nmFornecedor" id="field_nmFornecedor"
                [(ngModel)]="fornecedor.nmFornecedor" required maxlength="100" placeholder="Nome do fornecedor"/>
            <div [hidden]="!(editForm.controls.nmFornecedor?.dirty && editForm.controls.nmFornecedor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nmFornecedor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nmFornecedor?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.fornecedor.numContribuinte" for="field_numContribuinte">Num Contribuinte</label>
            <input type="text" class="form-control" name="numContribuinte" id="field_numContribuinte"
                [(ngModel)]="fornecedor.numContribuinte" required maxlength="100" placeholder="Nome do contribuinte"/>
            <div [hidden]="!(editForm.controls.numContribuinte?.dirty && editForm.controls.numContribuinte?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numContribuinte?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numContribuinte?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.fornecedor.endereco" for="field_endereco">Endereco</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco"
                [(ngModel)]="fornecedor.endereco" required maxlength="250" placeholder="Endereço"/>
            <div [hidden]="!(editForm.controls.endereco?.dirty && editForm.controls.endereco?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endereco?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.endereco?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 250 }">
                   This field cannot be longer than 250 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.fornecedor.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="fornecedor.email" maxlength="80" placeholder="Email do fornecedor"/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label negrito" jhiTranslate="sisasApp.fornecedor.Especialidades"
                   for="field_idEspecialidades">Especialidades</label>
            <select class="form-control" id="field_idEspecialidades" name="especialidades"
                    [(ngModel)]="fornecedor.especialidades">
                <option *ngIf="!editForm.value.especialidades" [ngValue]="null" selected>Selecione o Especialidades..</option>
                <option [ngValue]="especialidadesOption.id === fornecedor.especialidades?.id ? fornecedor.especialidades : especialidadesOption"
                        *ngFor="let especialidadesOption of especialidadess">{{especialidadesOption.nmEspecialidade}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.especialidades?.dirty && editForm.controls.especialidades?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.especialidades?.errors?.required"
                   jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sisasApp.fornecedor.contato" for="field_contato">Contato</label>
            <input type="text" class="form-control" name="contato" id="field_contato"
                   [(ngModel)]="fornecedor.contato" maxlength="20" placeholder="Contato do fornecedor"/>
            <div [hidden]="!(editForm.controls.contato?.dirty && editForm.controls.contato?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.contato?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                    This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    <!--    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button> -->
        <button type="submit" [disabled]="isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
