
<div *ngIf="publicacaoLog">
    <h2><span jhiTranslate="sisasApp.publicacaoLog.detail.title">Publicacao Log</span> {{publicacaoLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sisasApp.publicacaoLog.idPublicacaoLog">Id Publicacao Log</span></dt>
        <dd>
            <span>{{publicacaoLog.idPublicacaoLog}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.publicacaoLog.acao">Acao</span></dt>
        <dd>
            <span>{{publicacaoLog.acao}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.publicacaoLog.idUsuario">Id Usuario</span></dt>
        <dd>
            <span>{{publicacaoLog.idUsuario}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.publicacaoLog.log">Log</span></dt>
        <dd>
            <span>{{publicacaoLog.log}}</span>
        </dd>
        <dt><span jhiTranslate="sisasApp.publicacaoLog.dtLog">Dt Log</span></dt>
        <dd>
            <span>{{publicacaoLog.dtLog | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'publicacao-log/'+ publicacaoLog.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
