<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <br>
    <div class="row">
        <h2 style="margin-left: 2%" *ngIf="tipoRelatorio == null">
            <span>Beneficiários de Água por Fonte Subterrânea e por Bomba Mecânica</span>
        </h2>
        <h2 style="margin-left: 2%; font-size: 1.3rem;" *ngIf="tipoRelatorio==='Nível Municipal'">
            <span>Beneficiários de Água por Fonte Subterrânea e por Bomba Mecânica (Nível Municipal)</span>
        </h2>
        <h2 style="margin-left: 2%; font-size: 1.3rem;" *ngIf="tipoRelatorio==='Nível Comunal'">
            <span>Beneficiários de Água por Fonte Subterrânea e por Bomba Mecânica (Nível Comunal)</span>
        </h2>

        <button *ngIf="tipoRelatorio !== null" type="button" style="margin-left: auto; margin-right: 1%" class="btn btn-secondary" data-dismiss="modal" (click)="voltarEscolha()">
            <span class="fa fa-bars"></span>&nbsp;<span>Tipo Relatorio</span>
        </button>
    </div>

    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="tipoRelatorio == null">
        <div class="form-group col-sm-12">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo_relatorio" style="font-weight: bold">Escolha o tipo de Relatório</label>
                    <select class="form-control" id="field_tipo_relatorio" name="tprelatorio" [(ngModel)]="tipoRelatorio" (change)="validaTipoRelatorio()">
                        <option [ngValue]="null" selected>Selecione o Modelo de Relatório...</option>
                        <option label="Nível Municipal">Nível Municipal</option>
                        <option label="Nível Comunal">Nível Comunal</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="munic" class="card" *ngIf="tipoRelatorio==='Nível Municipal'">
        <div class="export-container">
            <button type="button" (click)="exportTable('munitb')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('munic')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="munitb" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <!--<th></th>-->
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="3"><span style="margin-left: 30%">Diesel</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Solar</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Eólica</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Electrica</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Outro</span></th>
                </tr>
                <tr>
                    <th><span>Província</span></th>
                    <th><span>Municipal</span></th>
                    <!--<th><span>Populacao</span></th>-->
                    <th><span>Poco Melhorado</span></th>
                    <th><span>Furo</span></th>
                    <th><span>Nascente</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <!--<td>{{provincia.populacao | number}}</td>-->
                    <td>{{provincia.pocoMelhorado}}</td>
                    <td>{{provincia.furo}}</td>
                    <td>{{provincia.nascente}}</td>
                    <td>{{provincia.dieselSistemas}}</td>
                    <td>{{provincia.dieselPopulacao}}</td>
                    <td>{{provincia.dieselPerc}}%</td>
                    <td>{{provincia.solarSistemas}}</td>
                    <td>{{provincia.solarPopulacao}}</td>
                    <td>{{provincia.solarPerc}}%</td>
                    <td>{{provincia.eolicaSistemas}}</td>
                    <td>{{provincia.eolicaPopulacao}}</td>
                    <td>{{provincia.eolicaPerc}}%</td>
                    <td>{{provincia.electricaSistemas}}</td>
                    <td>{{provincia.electricaPopulacao}}</td>
                    <td>{{provincia.electricaPerc}}%</td>
                    <td>{{provincia.outroSistemas}}</td>
                    <td>{{provincia.outroPopulacao}}</td>
                    <td>{{provincia.outroPerc}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold">Total Municipal: </span></td>
                    <!--<td> <span style="font-weight: bold">{{totalPopulacao | number }}</span></td>-->
                    <td> <span style="font-weight: bold">{{totalPocoMelhorado | number }}</span></td>
                    <td> <span style="font-weight: bold">{{totalFuro | number}}</span></td>
                    <td> <span style="font-weight: bold">{{totalNascente | number}}</span></td>

                    <td> <span style="font-weight: bold">{{totalDieselSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalDieselPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalDieselPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalSolarSistemas | number }}</span></td>
                    <td> <span style="font-weight: bold">{{totalSolarPopulacao | number}}</span></td>
                    <td> <span style="font-weight: bold">{{totalSolarPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalEolicaSistemas | number }}</span></td>
                    <td> <span style="font-weight: bold">{{totalEolicaPopulacao | number}}</span></td>
                    <td> <span style="font-weight: bold">{{totalEolicaPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalElectraSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalElectraPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalElectraPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalOutroSistemas | number }}</span></td>
                    <td> <span style="font-weight: bold">{{totalOutroPopulacao | number}}</span></td>
                    <td> <span style="font-weight: bold">{{totalOutroPerc | number}}%</span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div  id="comun" class="card" *ngIf="tipoRelatorio==='Nível Comunal'">
        <div class="export-container">
            <button type="button" (click)="exportTable('comuntb')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('comun')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="comuntb" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <!--<th></th>-->
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="3"><span style="margin-left: 30%">Diesel</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Solar</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Eólica</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Electrica</span></th>
                    <th colspan="3"><span style="margin-left: 30%">Outro</span></th>
                </tr>
                <tr>
                    <th><span>Província</span></th>
                    <th><span>Municipal</span></th>
                    <th><span>Comunas</span></th>
                    <!--<th><span>Populacao</span></th>-->
                    <th><span>Poco Melhorado</span></th>
                    <th><span>Furo</span></th>
                    <th><span>Nascente</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                    <th><span>N° Sist</span></th>
                    <th><span>Pop.Benef</span></th>
                    <th><span>(%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.nomeComuna}}</td>
                    <!--<td>{{provincia.populacao | number}}</td>-->
                    <td>{{provincia.pocoMelhorado}}</td>
                    <td>{{provincia.furo}}</td>
                    <td>{{provincia.nascente}}</td>
                    <td>{{provincia.dieselSistemas}}</td>
                    <td>{{provincia.dieselPopulacao}}</td>
                    <td>{{provincia.dieselPerc}}%</td>
                    <td>{{provincia.solarSistemas}}</td>
                    <td>{{provincia.solarPopulacao}}</td>
                    <td>{{provincia.solarPerc}}%</td>
                    <td>{{provincia.eolicaSistemas}}</td>
                    <td>{{provincia.eolicaPopulacao}}</td>
                    <td>{{provincia.eolicaPerc}}%</td>
                    <td>{{provincia.electricaSistemas}}</td>
                    <td>{{provincia.electricaPopulacao}}</td>
                    <td>{{provincia.electricaPerc}}%</td>
                    <td>{{provincia.outroSistemas}}</td>
                    <td>{{provincia.outroPopulacao}}</td>
                    <td>{{provincia.outroPerc}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold">Total Comunal: </span></td>
                    <!--<td> <span style="font-weight: bold">{{totalPopulacao | number }}</span></td>-->
                    <td> <span style="font-weight: bold">{{totalPocoMelhorado | number }}</span></td>
                    <td> <span style="font-weight: bold">{{totalFuro | number}}</span></td>
                    <td> <span style="font-weight: bold">{{totalNascente | number}}</span></td>

                    <td> <span style="font-weight: bold">{{totalDieselSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalDieselPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalDieselPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalSolarSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalSolarPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalSolarPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalEolicaSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalEolicaPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalEolicaPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalElectraSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalElectraPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalElectraPerc | number}}%</span></td>

                    <td> <span style="font-weight: bold">{{totalOutroSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalOutroPopulacao | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalOutroPerc | number}}%</span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
