body {
    background-color: white;
}

section {
    /* Configurações para tag section */
    padding-top: 45px!important;
    /*Distância da parte superior */
    padding-bottom: 20px!important;
    /*Distância da parte inferior */
    min-height: 98vh!important;
    /*Altura mínima */
}
.mapa {

    width: 80% !important;
    margin: auto!important;
}
.mapa path {
    fill: #3faee0;
    stroke: #eaf9fc;
    stroke-width: 2px;
    transition: fill 0.2s;
    border-radius: 15px;
}
.mapa path:hover {
    fill: blue;
}

.table {
    text-align: center !important;
}
