<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <div class="row">
        <h2 style="margin-left: 20%" *ngIf="tipoRelatorio == null">
            <span>Cobertura no sector de Água </span>
        </h2>
        <h2 style="margin-left: 17%" *ngIf="tipoRelatorio==='Nível Provincial'">
            <span>Cobertura no sector de Água (Nível Provincial)</span>
        </h2>
        <h2 style="margin-left: 17%" *ngIf="tipoRelatorio==='Nível Municipal'">
            <span>Cobertura no sector de Água (Nível Municipal)</span>
        </h2>
        <h2 style="margin-left: 19%" *ngIf="tipoRelatorio==='Nível Comunal'">
            <span>Cobertura no sector de Água (Nível Comunal)</span>
        </h2>

        <button *ngIf="tipoRelatorio !== null" type="button" style="margin-left: auto" class="btn btn-secondary" data-dismiss="modal" (click)="voltarEscolha()">
            <span class="fa fa-bars"></span>&nbsp;<span>Tipo Relatorio</span>
        </button>
    </div>
    </div>
    <jhi-alert></jhi-alert>

    <div class="row" *ngIf="tipoRelatorio == null">
        <div class="form-group col-sm-12">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo_relatorio" style="font-weight: bold">Escolha o tipo de Relatório</label>
                    <select class="form-control" id="field_tipo_relatorio" name="tprelatorio" [(ngModel)]="tipoRelatorio" (change)="validaTipoRelatorio()">
                        <option [ngValue]="null" selected>Selecione o Modelo de Relatório...</option>
                        <option label="Nível Provincial">Nível Provincial</option>
                        <option label="Nível Municipal">Nível Municipal</option>
                        <option label="Nível Comunal">Nível Comunal</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
        <div class="table-responsive" *ngIf="listaTabela">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Provincia</span></th>
                    <th><span>N° de Municípios</span></th>
                    <th><span>N° de Comunas</span></th>
                    <th><span>N° Sistemas que Funcionam</span></th>
                    <th><span>Populacao Total</span></th>
                    <th><span>Beneficiários Sevicos de Água</span></th>
                    <th><span>Cobertura (%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.municipios}}</td>
                    <td>{{provincia.comunas}}</td>
                    <td>{{provincia.sistemasFuncionam}}</td>
                    <td>{{provincia.populacaoTotal | number }}</td>
                    <td>{{provincia.beneficiarios | number }}</td>
                    <td>{{provincia.cobertura}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold">Total: </span></td>
                    <td> <span style="font-weight: bold">{{totalMunicipios}} </span></td>
                    <td> <span style="font-weight: bold">{{totalComuna}} </span></td>
                    <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td> <span style="font-weight: bold">{{totalPopulacao | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalCobertura}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <div class="card" *ngIf="tipoRelatorio==='Nível Municipal'">
        <div class="table-responsive" *ngIf="listaTabela">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Provincia</span></th>
                    <th><span>Município</span></th>
                    <th><span>N° de Comunas</span></th>
                    <th><span>N° Sistemas</span></th>
                    <th><span>Populacao Total</span></th>
                    <th><span>Beneficiários (Hab)</span></th>
                    <th><span>Cobertura (%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ;trackBy: trackId">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.comunas}}</td>
                    <td>{{provincia.sistemasFuncionam}}</td>
                    <td>{{provincia.populacaoTotal | number }}</td>
                    <td>{{provincia.beneficiarios | number }}</td>
                    <td>{{provincia.cobertura}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"> </span></td>
                    <td> <span style="font-weight: bold">Total Municipal: </span></td>
                    <td> <span style="font-weight: bold">{{totalComuna}} </span></td>
                    <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td> <span style="font-weight: bold">{{totalPopulacao | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalCobertura}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="card" *ngIf="tipoRelatorio==='Nível Comunal'">
        <div class="table-responsive" *ngIf="listaTabela">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Provincia</span></th>
                    <th><span>Município</span></th>
                    <th><span>Comuna</span></th>
                    <th><span>N° de Sistemas</span></th>
                    <th><span>Populacao Total</span></th>
                    <th><span>Beneficiários</span></th>
                    <th><span>Cobertura (%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.nomeComuna}}</td>
                    <td>{{provincia.sistemasFuncionam}}</td>
                    <td>{{provincia.populacaoTotal | number }}</td>
                    <td>{{provincia.beneficiarios | number }}</td>
                    <td>{{provincia.cobertura}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold">Total Comunas: </span></td>
                    <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td> <span style="font-weight: bold">{{totalPopulacao | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalCobertura}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br>

    <div class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
        <div id="chartContainer" style="height: 400px; width: 97%; margin-left: 3%"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
