<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="pdfTable">

    <jhi-alert></jhi-alert>
    <br/>

    <div id="model2">
        <div class="card">
            <div class="export-container">
                <button type="button" (click)="exportTable('tbnn')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('mod2')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div id="mod2" class="table-responsive">

                <h2 style="margin-left: 17%">
                    <span>Estatística de Inquéritos Preenchidos (Nível Nacional)</span>
                </h2>

                <table *ngIf="listaTabela" id="tbnn" class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>Província</span></th>
                        <th><span>N° de Municípios</span></th>
                        <th><span>N° de Comunas</span></th>
                        <th><span>Águas(SIM)</span></th>
                        <th><span>Águas(NAO)</span></th>
                        <th><span>Total</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela">
                        <td>{{provincia.nomeProvincia}}</td>
                        <td>{{provincia.municipios}}</td>
                        <td>{{provincia.comunas}}</td>
                        <td>{{provincia.aguasSim}}</td>
                        <td>{{provincia.aguasNao | number }}</td>
                        <td>{{provincia.totalGeral}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold">Total: </span></td>
                        <td> <span style="font-weight: bold">{{totalMunicipios}} </span></td>
                        <td> <span style="font-weight: bold">{{totalComuna}} </span></td>
                        <td> <span style="font-weight: bold">{{totalAguasSim}} </span></td>
                        <td> <span style="font-weight: bold">{{totalAguasNao | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalGeral}} </span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-dash">
                        <div id="chartTotalInqueritos" style="height: 370px; width: 98%; margin-left: 3%"></div>
                    </div>
                </div>
            </div>

            <div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-dash">
                            <div id="chartAgua" style="height: 370px; width: 98%; margin-left: 3%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
