<div [ngSwitch]="isAuthenticated()">
    <div class="container" *ngSwitchCase="false">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center" id="imagem2" *ngSwitchCase="false" style="margin-bottom: 6%">
                            <b style="font-weight: bold">
                                SISAS
                            </b>
                            <br>
                            <b style="color: #75787b;font-weight: 700;">
                            Sistema de Informação do Sector de Águas e Saneamento
                            </b>
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                                <strong>Failed to sign in!</strong> Please check your credentials and try again.
                            </div>
                        </div>
                        <div class="form-signin">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="email" [(ngModel)]="username" class="form-control" placeholder="Login">
                            </div>

                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Palavra Passe">
                            </div>

                            <div class="esqueceu-senha">
                                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                            </div>

                            <hr class="my-4">
                            <button type="button" (click)="login()" style="background-color: #7b858e" class="btn btn-lg btn-primary btn-block text-uppercase" >Acessar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




