@import "~leaflet/dist/leaflet.css";
/* ==============================================================
Bootstrap tweaks
===============================================================*/

negrito {
    font-weight: bold;
}

body, h1, h2, h3, h4 {
    font-weight: 300;
}

body {
    background-color: #576C87;
    background-attachment: fixed;
    background-size: cover;
    font: normal 16px Arial, sans-serif;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid green;
}

.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

/* other generic styles */
.jh-card {
    padding: 1.5%;
    margin-top: 1.5%;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 209vh;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
/*Botão de status*/
.check-box-scged > input[type="checkbox"] {
    display: none;
}
.check-box-scged > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}
.check-box-scged > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.check-box-scged > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.check-box-scged > input[type="checkbox"]:checked + label::before {
    background: green;
    opacity: 0.5;
}
.check-box-scged > input[type="checkbox"]:checked + label::after {
    background: green;
    left: 20px;
}
.fa-sort-amount-asc{
    color:#ccc;
    vertical-align: bottom;
    padding-bottom: 10px;
}

.fa-sort-amount-asc:hover{
    color: #ffffff;
}

.redondo{
   border-radius: 50px;
}

.cor-botao {
    background-color: #613b18;
}

tr:nth-child(even) {
    background: #FFF
}
tr:nth-child(odd) {
    background: #ffffff
}

.jhi-card-espaco {
    padding-top: 250px;
}

.pesquisa {
    border-radius: 1rem;
}

.btn-primary{
    background-color: #527d92;
    border-color: transparent;
}

.btn-primary:hover {
    background: #ffce0f;
    color: #865a39;
    border-color: transparent;
}

.export-container {
    text-align: right;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.borda-th {
    border-left: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
    text-align: center;
}

.text-centro {
    text-align: center;
}

.table-responsive {
    border-radius: 10px;
}

.fundo-hd-table {
    background-color: #a3b2c0 !important;
}

/*SIDEBAR*/
.app-sidebar__toggle:before {
    content: "\f0c9";
    font-size: 21px;
}

.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
    color: #fff;
    background-color: rgba(226, 184, 0, 0.97);
    text-decoration: none;
}

@media (min-width: 768px) {
    .app-nav {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

@media (max-width: 767px) {
    .app-sidebar__toggle {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
}

.app-sidebar__toggle {
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.0;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: #183f66;
    float: right;
    position: absolute;
    top: 0;
    left: 90%;
}

.table-responsive {
    line-height: 1.0 !important;
}

/*navbar*/
.img-navbar-logo {
    height: 43px;
    width: 43px;
    float: left;
}

.texto-navbar-logo {
    color: #eeebe5 !important;
    font-size: 0.8em;
    font-style: initial;
    margin-left: 7%;
    line-height: 1.4;
    width: 13em;
    word-wrap: break-word;
}

.nvb-logo {
    left: 0%;
    right: 0;
    top: 0;
    border-radius: 10px !important;
    min-width: 100% !important;
    background-color: #183F66;

    position: relative;
    padding: .20rem 0.75rem;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1.5%;
}

.excel {
    float: right;
    margin-left: 1%;
    background-color:  rgb(34, 116, 71);
}

.bt-pdf {
    float: right;
    background-color: rgb(206, 22, 34);
}
