<div>
    <h2>
        <span style="margin-left: 2%" jhiTranslate="sisasApp.noticiasPortal.home.title">Noticias Portals</span>
        <button class="btn btn-primary float-left redondo"
                [routerLink]="['../dashboard-principal']">
            <span class="fa fa-chevron-left"></span>
        </button>
        <button class="btn btn-primary float-right jh-create-entity create-noticias-portal" [routerLink]="['/', { outlets: { popup: ['noticias-portal-new'] } }]">
            <span class="fa fa-plus"></span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="noticiasPortals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="titulo"><span jhiTranslate="sisasApp.noticiasPortal.titulo">Titulo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="texto"><span jhiTranslate="sisasApp.noticiasPortal.texto">Texto</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imagemCapa"><span jhiTranslate="sisasApp.noticiasPortal.imagemCapa">Imagem Capa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataCriacao"><span jhiTranslate="sisasApp.noticiasPortal.dataCriacao">Data Criacao</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="dataAlteracao"><span jhiTranslate="sisasApp.noticiasPortal.dataAlteracao">Data Alteracao</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="status"><span jhiTranslate="sisasApp.noticiasPortal.status">Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let noticiasPortal of noticiasPortals ;trackBy: trackId">
                <!--<td><a [routerLink]="['../noticias-portal', noticiasPortal.id ]">{{noticiasPortal.id}}</a></td>-->
                <td>{{noticiasPortal.titulo}}</td>
                <td>{{noticiasPortal.texto}}</td>
                <td>
                    <a *ngIf="noticiasPortal.imagemCapa" (click)="openFile(noticiasPortal.imagemCapaContentType, noticiasPortal.imagemCapa)">
                        <img [src]="'data:' + noticiasPortal.imagemCapaContentType + ';base64,' + noticiasPortal.imagemCapa" style="max-height: 30px;" alt="noticiasPortal image"/>
                    </a>
                    <span *ngIf="noticiasPortal.imagemCapa">{{noticiasPortal.imagemCapaContentType}}, {{byteSize(noticiasPortal.imagemCapa)}}</span>
                </td>
                <td>{{noticiasPortal.dataCriacao | date:'mediumDate'}}</td>
                <!--<td>{{noticiasPortal.dataAlteracao | date:'mediumDate'}}</td>-->
                <td *ngIf="noticiasPortal.status"> ATIVO</td>
                <td *ngIf="!noticiasPortal.status"> INATIVO</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../noticias-portal', noticiasPortal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'noticias-portal/'+ noticiasPortal.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'noticias-portal/'+ noticiasPortal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="noticiasPortals && noticiasPortals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
