<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <div class="row">
        <h2 style="margin-left: 20%" *ngIf="tipoRelatorio == null">
            <span>Funcionamento de Sistemas de Água</span>
        </h2>
        <h2 style="margin-left: 2%" *ngIf="tipoRelatorio==='Nível Provincial'">
            <span>Funcionamento de Sistemas de Água (Nível Provincial)</span>
        </h2>
        <h2 style="margin-left: 2%" *ngIf="tipoRelatorio==='Nível Municipal'">
            <span>Funcionamento de Sistemas de Água (Nível Municipal)</span>
        </h2>
        <h2 style="margin-left: 2%" *ngIf="tipoRelatorio==='Nível Comunal'">
            <span>Funcionamento de Sistemas de Água (Nível Comunal)</span>
        </h2>

        <button *ngIf="tipoRelatorio !== null" type="button" style="margin-left: auto" class="btn btn-secondary" data-dismiss="modal" (click)="voltarEscolha()">
            <span class="fa fa-bars"></span>&nbsp;<span>Tipo Relatorio</span>
        </button>
    </div>

    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="tipoRelatorio == null">
        <div class="form-group col-sm-12">
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipo_relatorio" style="font-weight: bold">Escolha o tipo de Relatório</label>
                    <select class="form-control" id="field_tipo_relatorio" name="tprelatorio" [(ngModel)]="tipoRelatorio" (change)="validaTipoRelatorio()">
                        <option [ngValue]="null" selected>Selecione o Modelo de Relatório...</option>
                        <option label="Nível Provincial">Nível Provincial</option>
                        <option label="Nível Municipal">Nível Municipal</option>
                        <option label="Nível Comunal">Nível Comunal</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="conteinerPron">
        <div  class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
            <div class="export-container">
                <button type="button" (click)="exportTable('tableprovin')" class="btn btn-primary btn-sm">
                    <span class="fa fa-file-excel-o"></span>
                    <span class="d-none d-md-inline">Excel</span>
                </button>
                <button type="button" (click)="captureScreen('conteinerPron')" class="btn btn-primary btn-sm">
                    <span class="fas fa-file-pdf"></span>
                    <span class="d-none d-md-inline">PDF</span>
                </button>
            </div>
            <div class="table-responsive" *ngIf="listaTabela">
                <table id="tableprovin" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="4"><span style="margin-left: 10%">Funcionamento de Sistemas de Água</span></th>
                    </tr>
                    <tr>
                        <th><span>Províncias</span></th>
                        <th><span>Populacão Benef.Água</span></th>
                        <th><span>N° Sistemas Água</span></th>
                        <th><span>N° Funcionam</span></th>
                        <th><span>N° não Funcionam</span></th>
                        <th><span>(%) Funcionam</span></th>
                        <th><span>(%) Não Funcionam</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let provincia of listaTabela">
                        <td>{{provincia.nomeProvincia}}</td>
                        <td>{{provincia.beneficiariosAgua | number}}</td>
                        <td>{{provincia.numeroSistemas | number}}</td>
                        <td>{{provincia.funcionamAgua}}</td>
                        <td>{{provincia.naoFuncionamAgua}}</td>
                        <td>{{provincia.funcionamAguaPerc}}%</td>
                        <td>{{provincia.naoFuncionamAguaPerc}}%</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td> <span style="font-weight: bold">Total: </span></td>
                        <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalnumeroSistemas | number }} </span></td>
                        <td> <span style="font-weight: bold">{{totalfuncionamAgua | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalnaoFuncionamAgua | number}} </span></td>
                        <td> <span style="font-weight: bold">{{totalfuncionamAguaPerc }}% </span></td>
                        <td> <span style="font-weight: bold">{{totalnaoFuncionamAguaPerc}}% </span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <br>
        <div class="card" *ngIf="tipoRelatorio==='Nível Provincial'">
            <div id="chartProvincial" style="height: 400px; width: 97%; margin-left: 3%"></div>
        </div>
    </div>


    <div id="conteinerMunic" class="card" *ngIf="tipoRelatorio==='Nível Municipal'">
        <div class="export-container">
            <button type="button" (click)="exportTable('tablemuni')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('conteinerMunic')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tablemuni" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="4"><span style="margin-left: 20%">Funcionamento de Sistemas de Água</span></th>
                </tr>
                <tr>
                    <th><span>Províncias</span></th>
                    <th><span>Município</span></th>
                    <th><span>Populacão Benef.Água</span></th>
                    <th><span>N° Sistemas Água</span></th>

                    <th><span>N° Funcionam</span></th>
                    <th><span>N° não Funcionam</span></th>
                    <th><span>(%) Funcionam</span></th>
                    <th><span>(%) Não Funcionam</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.beneficiariosAgua | number}}</td>
                    <td>{{provincia.numeroSistemas | number}}</td>
                    <td>{{provincia.funcionamAgua}}</td>
                    <td>{{provincia.naoFuncionamAgua}}</td>
                    <td>{{provincia.funcionamAguaPerc}}%</td>
                    <td>{{provincia.naoFuncionamAguaPerc}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold">Total: </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalnumeroSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalfuncionamAgua | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalnaoFuncionamAgua | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalfuncionamAguaPerc }}% </span></td>
                    <td> <span style="font-weight: bold">{{totalnaoFuncionamAguaPerc}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="contentcomun" class="card" *ngIf="tipoRelatorio==='Nível Comunal'">
        <div class="export-container">
            <button type="button" (click)="exportTable('tablecomun')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('contentcomun')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tablecomun" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="4"><span style="margin-left: 15%">Funcionamento de Sistemas de Água</span></th>
                </tr>
                <tr>
                    <th><span>Províncias</span></th>
                    <th><span>Município</span></th>
                    <th><span>Comuna</span></th>
                    <th><span>Populacão Benef.Água</span></th>
                    <th><span>N° Sistemas Água</span></th>
                    <th><span>N° Funcionam</span></th>
                    <th><span>N° não Funcionam</span></th>
                    <th><span>(%) Funcionam</span></th>
                    <th><span>(%) Não Funcionam</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.nomeMunicipio}}</td>
                    <td>{{provincia.nomeComuna}}</td>
                    <td>{{provincia.beneficiariosAgua | number}}</td>
                    <td>{{provincia.numeroSistemas | number}}</td>
                    <td>{{provincia.funcionamAgua}}</td>
                    <td>{{provincia.naoFuncionamAgua}}</td>
                    <td>{{provincia.funcionamAguaPerc}}%</td>
                    <td>{{provincia.naoFuncionamAguaPerc}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold"></span></td>
                    <td> <span style="font-weight: bold">Total: </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalnumeroSistemas | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalfuncionamAgua | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalnaoFuncionamAgua | number}} </span></td>
                    <td> <span style="font-weight: bold">{{totalfuncionamAguaPerc }}% </span></td>
                    <td> <span style="font-weight: bold">{{totalnaoFuncionamAguaPerc}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <br>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
