<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div>
    <div class="row">
        <h2 style="margin-left: 20%">
            <span>Relatório dos Indicadores de Produção</span>
        </h2>
    </div>

    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">

        <div class="form-group" style="margin-right: 1%; margin-left: 2%">
            <label class="form-control-label negrito" jhiTranslate="relatorios.home.provincia">Província</label>
            <select class="form-control" id="field_idProvincia" name="provincia" [(ngModel)]="indicadorProducaoProvincia.provincia">
                <option [ngValue]="null" selected>Selecione a Província..</option>
                <option *ngFor="let provinciaOption of provincias">{{provinciaOption.nmProvincia}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label negrito" jhiTranslate="relatorios.home.ano" for="field_nmAno">Ano</label>
            <select class="form-control" id="field_nmAno" name="nmAno" [(ngModel)]="indicadorProducaoProvincia.ano">
                <option [ngValue]="null" selected>Selecione o ano..</option>
                <option label="2020">2020</option>
                <option label="2019">2019</option>
            </select>
        </div>

    </div>
    <br>

    <div  id="crf" class="card">
        <div class="export-container">
            <button type="button" (click)="exportTable('table')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('crf')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div class="table-responsive">
            <table id="table" class="table table-striped">
                <thead>
                <tr>
                    <th colspan="14"><span style="margin-left: 50%;">{{indicadorProducaoProvincia.ano}}</span></th>
                </tr>
                <tr>
                    <th><span>Variáveis</span></th>
                    <th><span>Unidades</span></th>
                    <th><span>Jan</span></th>
                    <th><span>Fev</span></th>
                    <th><span>Mar</span></th>
                    <th><span>Abr</span></th>
                    <th><span>Mai</span></th>
                    <th><span>Jun</span></th>
                    <th><span>Jul</span></th>
                    <th><span>Ago</span></th>
                    <th><span>Set</span></th>
                    <th><span>Out</span></th>
                    <th><span>Nov</span></th>
                    <th><span>Dez</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let variavel of indicadorProducaoProvincias ;trackBy: trackId">
                    <td>{{variavel.nomeCampo}}</td>
                    <td>{{variavel.unidade}}</td>
                    <td>{{variavel.janeiro}}</td>
                    <td>{{variavel.fevereiro}}</td>
                    <td>{{variavel.marco}}</td>
                    <td>{{variavel.abril}}</td>
                    <td>{{variavel.maio}}</td>
                    <td>{{variavel.junho}}</td>
                    <td>{{variavel.julho}}</td>
                    <td>{{variavel.agosto}}</td>
                    <td>{{variavel.setembro}}</td>
                    <td>{{variavel.outubro}}</td>
                    <td>{{variavel.novembro}}</td>
                    <td>{{variavel.dezembro}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
