<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <jhi-alert></jhi-alert>

    <div class="card">
        <div class="export-container">
            <button type="button" (click)="exportTable('tbprovin')" class="btn btn-primary btn-sm">
                <span class="fa fa-file-excel-o"></span>
                <span class="d-none d-md-inline">Excel</span>
            </button>
            <button type="button" (click)="captureScreen('provinc')" class="btn btn-primary btn-sm">
                <span class="fas fa-file-pdf"></span>
                <span class="d-none d-md-inline">PDF</span>
            </button>
        </div>
        <div id="provinc">
            <div class="row">
                <h2 style="margin-left: 17%">
                    <span>Cobertura no sector de Água (Nível Provincial)</span>
                </h2>
            </div>
        <div class="table-responsive" *ngIf="listaTabela">
            <table id="tbprovin" class="table table-striped">
                <thead>
                <tr>
                    <th><span>Provincias</span></th>
                    <th><span>N° de Municípios</span></th>
                    <th><span>N° de Comunas</span></th>
                    <th><span>N° Sistemas que Funcionam</span></th>
                    <th><span>População Total</span></th>
                    <th><span>Beneficiários Sevicos de Água</span></th>
                    <th><span>Cobertura (%)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provincia of listaTabela ">
                    <td>{{provincia.nomeProvincia}}</td>
                    <td>{{provincia.numeroMunicipios}}</td>
                    <td>{{provincia.numeroComunas}}</td>
                    <td>{{provincia.numeroSistemasFuncionam}}</td>
                    <td>{{provincia.populacao | number }}</td>
                    <td>{{provincia.beneficiarios | number }}</td>
                    <td>{{provincia.coberturaPercent | number:'1.2-2'}}%</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td> <span style="font-weight: bold">Total: </span></td>
                    <td> <span style="font-weight: bold">{{totalMunicipios}} </span></td>
                    <td> <span style="font-weight: bold">{{totalComuna}} </span></td>
                    <td> <span style="font-weight: bold">{{totalSistemas}} </span></td>
                    <td> <span style="font-weight: bold">{{totalPopulacao | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalBeneficiarios | number }} </span></td>
                    <td> <span style="font-weight: bold">{{totalCobertura | number:'1.2-2'}}% </span></td>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
        <br>
        <div class="card">
            <div id="chartContainer" style="height: 400px; width: 97%; margin-left: 3%"></div>
        </div>
    </div>

    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/../../dashboard']"  >
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</div>
