<div align="center">
    <h2>
        <span>Província de Hulia</span>
    </h2>
    <div class="row">
        <h3 style="margin-left: 2%" *ngIf="tipo==='Cobertura de Serviços de Água'">
            <span>Cobertura de Serviços de Água</span>
        </h3>
        <h3 style="margin-left: 2%" *ngIf="tipo==='Funcionamento de Sistemas de Água'">
            <span>Funcionamento de Sistemas de Água</span>
        </h3>
        <h3 style="margin-left: 2%" *ngIf="tipo==='Funcionamento de Sistemas de Saneamento'">
            <span>Funcionamento de Sistemas de Saneamento</span>
        </h3>

        <button *ngIf="tipo !== null" type="button" style="margin-left: auto" class="btn btn-secondary" data-dismiss="modal" (click)="voltarEscolha()">
            <span class="fa fa-bars"></span>&nbsp;<span>Tipo Mapa</span>
        </button>
    </div>
</div>
<div class="row" *ngIf="tipo == null">
    <div class="form-group col-sm-12">
        <div>
            <div class="form-group">
                <select class="form-control" id="field_tipo_relatorio" name="tprelatorio" [(ngModel)]="tipo" (change)="validaTipoRelatorio()">
                    <option [ngValue]="null" selected>Selecione o Mapa...</option>
                    <option label="Cobertura de Serviços de Água">Cobertura de Serviços de Água</option>
                    <option label="Funcionamento de Sistemas de Água">Funcionamento de Sistemas de Água</option>
                    <option label="Funcionamento de Sistemas de Saneamento">Funcionamento de Sistemas de Saneamento</option>
                </select>
            </div>
        </div>
    </div>
</div>
<br>

<div class="map-container" *ngIf="tipo !== null">
    <div class="mapa-padrao"
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)">
    </div>

</div>
